[2018-10-31 19:41] aymanbagabas opened #2 "Need testers"
This driver is meant to work for all Huawei laptops. Currently, MBXP is the only laptop that is supported. Supporting its successor, Matebook X, is the next step. I will probably need some testers and more information about the MBX such as DSDT and SSDT tables.

[2018-11-01 14:18] cytrinox commented on #2
The DSDT from my MBX is located at https://github.com/cytrinox/matebook-hotkeys/tree/master/acpi

[2018-11-05 16:20] aymanbagabas commented on #2
@cytrinox I updated the `dev` branch to support the MBX. Could you please verify that all of the keys work as expected?

Also, we need to figure out what function triggers the micmute led if there is any, so try to test if any of the following does trigger that led. Use `acpi_call`
[code]
If any of these worked, what is the behavor? Does it toggle the led? Or does one turns it on and another turns

[2018-11-05 17:11] aymanbagabas commented on #2
@cytrinox Can you provide me a dump your acpi tables? Since you updated the BIOS there gotta be some changes.
[code]

[2018-11-05 17:42] cytrinox commented on #2
Attached is the acpidump.

[acpidump.txt](https://github.com/aymanbagabas/Huawei-WMI/files/2549892/acpidump.txt)

[2018-11-05 17:49] cytrinox commented on #2
None of the __\WMI0.WM05__ calls results in a MICMUTE-LED change.

[2018-11-05 17:59] cytrinox commented on #2
Just tested the dev-branch. Each hotkey works as expected. Micmute works well after adding the udev hwdb and is correctly reported by __xev__ as __XF86AudioMicMute__.

[2018-11-05 20:54] aymanbagabas commented on #2
Looking at the DSDT table, **WMI0.M242** seems to be the one responsible with changing micmute LED.
[code]

Try if these change the LED. On the MBXP, pin 0x04 is the micmute LED.
[code]

Method **WMI0.WM05** is the one associated with the GUID. It calls **WMI0.WMIG** then this calls **WGLN** which calls multiple methods including **WMI0.MF24** which then calls **WMI0.M242**. So if the above acpi_c

[2018-11-05 21:05] cytrinox commented on #2
__\_SB.PCI0.LPCB.EC0.SPIN__ is correct, this call (0|1) disable/enable the LED.
What is the correct line for WMI0.INIT? Do you mean zero arguments or one argument with 0 value?

[2018-11-05 21:14] aymanbagabas commented on #2
One with a 0 value argument.

[2018-11-05 21:18] cytrinox commented on #2
No change, each call is responded with "0x0called"

[2018-11-05 21:32] aymanbagabas commented on #2
@cytrinox try fiddling around with **WMI0.M242** and figure out what are the values that turn the led on/off. This way we could trace back the call and find out what are the correct inputs for **WMI0.WM05** that triggers the led. I'm using `acpiexec` to emulate the ACPI tables in user-space which has its limitations.

[2018-11-05 21:47] cytrinox commented on #2
M242 called with 0 0 0 enables the LED, but I've not found a combination which disable it.
I don't know how to read the DSL, but the definition of M242 looks like it checks a memory region or a internal field? If this is true, M242 may just toogle the LED depending on data not provided by arguments, but by a internal value.

[2018-11-05 23:48] aymanbagabas commented on #2
**M242** only looks for the first argument. Try using 0xFFFF, 0x1 ,0x10000. It depends on the variable 'STAT' in that method which is only mentioned 4 times in the DSDT file. The argument has a size of 32 bit and it will look like 0xXXXXXXXX in hex.

While the LED is on, try if the previous **WM05** calls change anything. Maybe do the same while it's off.

What is the value of
[code]

@cytrinox we

[2018-11-06 13:02] cytrinox commented on #2
[code]

No luck with 0xFFFF, 0x1, 0x10000 or the WM05 calls.

[2018-11-07 02:44] aymanbagabas commented on #2
@cytrinox I think I'm overthinking this problem. I went with using ACPI calls to toggle the micmute LED.
I updated the dev branch with these changes. We will probably need to apply these changes to the kernel and test it out. I'll let you know once I finish with the kernel patches.

[2018-11-07 03:01] aymanbagabas commented on #2
@cytrinox Could you please provide the output of this:
[code]
I just want to know the subsystem id of the sound card so that we can hook the micmute led with ALSA.

[2018-11-08 18:59] janbaer commented on #2
[code]

[2018-11-08 19:00] janbaer commented on #2
What's the current state. Is it working now also for the MatebookX? Should I test something?

Thanks for your effort!

[2018-11-09 04:14] aymanbagabas commented on #2
@janbaer Thanks for the response.

Yes, it should work for the Matebook X, it's just that I haven't updated the master branch and the documentation. Use dev branch to try it out. It would be really nice if you could try building a custom kernel with this module and patching the sound driver for the micmute led to work. You could use the patches in the dev branch and apply them using `git am <patch

[2018-12-06 20:43] cytrinox commented on #2
AFAIK everything works on MBX, what is in the testing pipeline?

[2018-12-07 05:41] aymanbagabas commented on #2
I am almost done with submitting this to upstream. However, the only thing left is testing. Now I don't have a MBX which makes it harder for me to test. The problem is that the code has to be very well written and clean as possible. Now the method used to read input from MBX is bad and that is due to how Huawei implemented their firmware.
This would make things much cleaner by using the GUID assoc

[2018-12-07 10:31] janbaer commented on #2
@aymanbagabas I have an MBX and I would like to help you with testing, but I'm sorry my knowledge about Linux is not so deep to compile the kernel on my own. But of course, I'm very interested to use also the fn-keys on my MBX.

[2018-12-07 21:03] aymanbagabas commented on #2
@janbaer Soon this patch should be included in the linux kernel. @cytrinox is doing a great job in testing but it wouldn't hurt to test it on another machine.
You don't need to recompile the kernel you could try the patch just by itself. Download it, compile it and insmod.
[huawei-wmi-r1.zip](https://github.com/aymanbagabas/Huawei-WMI/files/2655976/huawei-wmi-r1.zip)
[code]
and in a separate windo

[2018-12-09 15:54] aymanbagabas commented on #2
@janbaer I don't see any errors. These are warnings that you can ignore.

[2018-12-10 18:20] aymanbagabas commented on #2
@janbaer Did you get it to work?

[2018-12-11 05:03] janbaer commented on #2
Yes, it worked, thanks! So this is the output:

[code]

[2018-12-11 05:09] janbaer commented on #2
What I see is, that the keys for mute, volume and wlan are working now, but the keys for the light (F1, F2, F3) have no reaction.

[2018-12-11 05:42] aymanbagabas commented on #2
Thank you for your work @janbaer. The driver seems to successfully report those keys.
[code]
641 -> brightness down
642 -> brightness up
659, 660, 661 -> keyboard backlight which is ignored because it should work natively using BIOS

The display key is mapped to `super+p` which is what Windows and most Linux DEs use for display options.

Maybe it has to do with the DE you're using. What DE you run

[2018-12-11 20:04] janbaer commented on #2
What so you mean with DE?

I just testet the output with  **evtest** and got the following output

[code]

The key that is behind F3 gave no output and the same with F8.

[2018-12-11 20:21] aymanbagabas commented on #2
@janbaer F3 (keyboard back light) should work without any problem because it is controlled through BIOS. F8 (display key) is a different issue, on my system when I use xev, F8 reports super+p. I use Gnome and I had to remap super+p to get it to work which is an issue with Gnome I guess. But in XFCE for instance, F8 worked fine.

[2018-12-19 07:40] lenngro opened #5 "Can't run make command"
Hi,
I have the following problem when running the `make` command:

[code]
I'm running Manjaro with the 4.19 Linux Kernel.
Is there any requirement to the linux kernel used?

[2018-12-19 08:14] aymanbagabas commented on #5
Hmm.. It's complaining about `binutils`. Try to install it and see what happens. `pacman -S binutils`
There is no requirements, this should work with any recent version.

[2018-12-19 08:33] lenngro commented on #5
I was missing the `sudo` before `make` . Sometimes it's the little things.
After running `sudo make` and `sudo make install` afterwards + reboot the hotkeys are working.
Thank you so much for this awesome driver!

[2018-12-19 08:33] #5 closed

[2018-12-28 00:41] Designator-Ol commented on #2
Hi there, thanks for your work with the function keys. they work perfectly now on my MBX (w/o pro).
Do you plan on fixing the sound issue on the MBX too ? As all the others I only have sound on the front left speaker but not on the right one. If I should test something for you let me know ! Your help is higly appreciated !

Thanks an advance.

[2019-01-01 17:04] janbaer commented on #2
I just tested it today with a Gnome installation instead of i3 and it turned out that all keys are working now like it was expected. Means, that also the keys for the display light and the display key (F8) are working. It was an issue with i3 I think. Thanks for the great job! What about the file you attached here to this issue. Will you merge it  to the original source and update the Readme?

[2019-01-03 20:37] aymanbagabas commented on #2
I'm glad that worked for you. I already merged the changes to the master branch. Also I have created dkms packages for Fedora, Debian based, and Arch pkgbuild that you can use instead of compiling the module yourself. This module along with the micmute led have been merged to the next linux kernel release.

[2019-01-04 07:15] janbaer commented on #2
Great, thank you for your effort! It's very helpful for a lot people. Personally I like the concept to have a notebook without any active cooling and the MBX works perfectly for me since a year.

[2019-01-10 04:37] #2 closed

[2019-02-02 12:11] janbaer opened #6 "Make install failed"
After reinstalling my Matebook I also had to apply your patch again. But it failed with the following error

[code]
Do you have any idea what's missing and how I can solve the problem? I use Manjaro 18.1 with the 4.19.16.1 kernel. Thanks!

[2019-02-02 19:19] aymanbagabas commented on #6
I don’t see any errors with the build process, it’s complaining about missing keys. Make sure you’ve disabled secured boot in your BIOS and have ca-certificates installed. Try `lsmod | grep wmi` and see if the module is loaded.
You could also try using PKGBUILD from [here](
https://github.com/aymanbagabas/Huawei-WMI/releases).

[2019-02-03 07:57] janbaer commented on #6
I had installed the **ca-certificate**. But probably the kernel requires to sign drivers before install.
As alternative I tried now to install it with using dkms and this was running without any problems and after a reboot all fn keys worked perfectly. Thanks!

So with the help of [here](https://github.com/lidel/linux-on-huawei-matebook-x-2017/issues/8) I have now also sound from both speakers.

T

[2019-02-03 07:58] #6 closed

[2019-04-15 11:32] wasakakero opened #7 "Micmute led on Matebook D"
Hi,

all keys worked perfectly fine when installing Fedora on my Matebook D, I only had to update the hwdb tables directly for the micmute button to work.

However, it is impossible to turn off the Micmute led, it has been this way since installation probably as a remnant of when I had windows.

Is there any fix for this in the works? is there any way I can help by sending logs or something?

[2019-04-15 12:51] aymanbagabas commented on #7
Hey, thanks for reporting this issue.

Not right now. It would be very helpful if you provide me the DSDT/SSDT tables for your model and the year for your model.

[2019-04-15 12:59] wasakakero commented on #7
I can certainly do so, would you point me out to how I can provide the DSDT/SSDT tables?

Thanks!

[2019-04-15 13:02] aymanbagabas commented on #7
Please take a look at [acpidump](https://01.org/linux-acpi/utilities). I only need DSDT.dat and SSDT*.dat

[2019-04-15 13:30] wasakakero commented on #7
Hopefully this works?

https://github.com/wasakakero/matebook-d-ryzen-dsdt-ssdt

[2019-04-15 13:44] aymanbagabas commented on #7
Yeah this works. Thanks!

[2019-04-15 16:58] aymanbagabas commented on #7
Using a tool like [acpi_call](https://github.com/mkottman/acpi_call) could you provide the return values and observe any changes to your system using the following?
[code]

[2019-04-15 18:33] wasakakero commented on #7
I'll be honest, I've spent the last hour trying to figure out how to install this, I've tried different stuff and "call" never appears on /proc/acpi

Any suggestions?

[2019-04-17 23:11] aymanbagabas commented on #7
@wasakakero could I get the output of this
[code]
I'm trying to get the product name defined in dmi. I'm working on a driver update that brings on a fix for this issue along with other issues.

[2019-04-17 23:15] aymanbagabas opened #8 "Battery protection and fn-lock support"
Using Windows Huawei PC Manager, you can enable features like battery protection and reversing the behavior of Fn. These features are 'obviously' missing on Linux. I'm working on integrating these to the driver using WMI calls.

Using WMI is easier than controlling these features using ACPI/EC since most of these devices has the same WMI device driver.

So far, I've seen repetitions when it comes

[2019-04-17 23:23] aymanbagabas opened #9 "Use WMI calls"
Most of Huawei devices have the AMW0 WMI device which has a GUID of `ABBC0F5C-8EA1-11D1-A000-C90629100000`. This WMI device has a method AMW0.WMAA with GUID `ABBC0F5B-8EA1-11D1-A000-C90629100000` which seems to control most of the features.

Right now, one of controlling the mic led only works with devices that implement method `\_SB.PCI0.LPCB.EC0.WPIN` and `\_SB.PCI0.LPCB.EC0.SPIN`. Models that d

[2019-04-17 23:30] aymanbagabas commented on #9
I might need updated data from Matebook X (2017). @janbaer could you please provide me with DSDT/SSDT tables? Just make sure you're on the latest BIOS update. Also, do you know if this model supports battery protection and fn-lock?
Thank you!

[2019-04-17 23:37] owenthewizard opened #10 "Multiple keys not working on Huawei Matebook D 14" AMD"
Brightness keys and volume keys including micmute don't work. Keyboard backlight key works and Wi-Fi key works. Not sure what `F8` and `F10` are supposed to do so not sure if they're working or not.

Included is all the info from `acpidump`. Let me know what else you need and I'll provide it.

`uname` string: `Linux Quayle 5.0.7-arch1-1-ARCH #1 SMP PREEMPT Mon Apr 8 10:37:08 UTC 2019 x86_64 GNU/Li

[2019-04-17 23:42] aymanbagabas commented on #10
Can you please provide the output for `acpi_listen`, `xev`, `lsmod | grep wmi`, and `sudo evtest`. When using `evtest`, choose event number corresponding to 'Huawei WMI hotkeys'.

[2019-04-18 03:03] owenthewizard commented on #10
`acpi_listen`, `F8` didn't display anything, micmute is `button/f20`, `F10` is `ABBC0F5C`
[code]

[`xev.txt.gz`](https://github.com/aymanbagabas/Huawei-WMI/files/3092289/xev.txt.gz)

`lsmod | grep wmi`:
[code]

[`evtest.txt.gz`](https://github.com/aymanbagabas/Huawei-WMI/files/3092298/evtest.txt.gz)
`evtest` didn't show any output for volume up/down/mute.

[2019-04-18 11:47] wasakakero commented on #7
@aymanbagabas sure thing, here it is:

[code]

[2019-04-18 12:30] aymanbagabas commented on #10
Seem working to me!

Brightness keys and multimedia keys seem to work as expected as `acpi_listen` shows. `xev` shows `XF86AudioMicMute` which means you're using systemd >= 241 that has the micmute mapping, F20 -> `XF86AudioMicMute`. `xev` also shows `Super+p` which is how F8 is being handled in this model and others. `Super+p` in Windows, and most Linux DEs work the same way, it cycles through av

[2019-04-18 15:52] owenthewizard commented on #10
I'm using `i3`, I guess that'd be it. Sorry to trouble you.

[2019-04-18 15:52] #10 closed

[2019-04-18 17:20] aymanbagabas commented on #10
No trouble at all.

You could try to remap those keys so that `i3` recognizes them. For the brightness keys to work, try using some sort of power manager like `xfce4-power-manager`, it will detect those key events accordingly.

Idk what you're using for key remapping but you could use `xmodmap` or `acpid` to get the multimedia keys to work. Gnome detects ACPI events which is how I got the multimed

[2019-04-22 23:14] aymanbagabas commented on #7
@wasakakero can you please try the updated module from **master**?
[commit](https://github.com/aymanbagabas/Huawei-WMI/commit/33084d6eaaa13a69191ad1b28cb80b801d071227)

[2019-04-22 23:19] aymanbagabas commented on #8
@nekr0z can you please try the newly updated module? I've added battery protection, fn-lock. I still need to find a way of distinguishing if a laptop supports these features or not.

[2019-04-22 23:33] wasakakero commented on #7
@aymanbagabas I tried to install as per the readme and I got the following error during "make"

[code]

[2019-04-22 23:35] aymanbagabas commented on #7
Seems like you're using Fedora, right? Make sure you have `kernel-devel` and `kernel-modules` packages. I will add that to the readme.

[2019-04-22 23:59] wasakakero commented on #7
@aymanbagabas I now encounter this issue:

[code]

I don't know if it was installed or not, but after a reboot, I noticed that the micmute key no longer works even after updating the hwdb tables, but please bear in mind this last part might be unrelated as I re-installed Fedora a few days ago and I never updated the tables up until the restart I mentioned.

[2019-04-23 00:06] aymanbagabas commented on #7
Looks like it was built just fine. Don't forget to unload the driver before you `make install`.
[code]
Remember, this is still in testing so you probably don't want to install it in your system.

Also try `make clean` before you attempt to build. Once you have your hwdb tables you have to reboot for it to take effect.

[2019-04-23 00:43] aymanbagabas commented on #9
Battery protection and fn-lock were added and can be controlled through the driver. You can access these features under `/sys/devices/platform/huawei-wmi`. There you'd find three newly attributes, `charge_start_threshold`, `charge_stop_threshold`, and `fn_lock_state`.

Charge thresholds accept values from 0-100 and fn-lock takes either 0 or 1. These attributes directly access AML code using WMI co

[2019-04-23 00:56] wasakakero commented on #7
@aymanbagabas I did as instructed, but it seems to have no effect, micmute still doesn't work after rebooting (I'm puzzled as to why) and insmod throws me:

[code]

[2019-04-23 01:04] aymanbagabas commented on #7
Sorry my bad, that should've been `sudo insmod huawei-wmi.ko` **.ko**. Please try this
[code]
Could you please also provide your `dmesg` output.

[2019-04-23 01:12] wasakakero commented on #7
@aymanbagabas the hwdb thing not working was my fault, I was stupid and figured it out myself.

As for the module, it seems that worked, i didn't get any feedback from the console with the last 2 commands if that means it was succesful.

I tried before and after rebooting and the led never turned on (or off).

please find attached the dmesg, the last lines I guess are me pressing micmute soon afte

[2019-04-23 01:22] aymanbagabas commented on #7
Thank you for taking the time in this. As for the last line, I had the same with my MBXP. With my model, any time I press brightness keys, micmute, wifi, or huawei mgmt key I get scan code `f7`. I simply remapped that to `unknown` as you can see in the `99-Huawei.hwdb`. I believe this the same case.

If you want, create a pr with this fix either here in this repo or directly to `systemd` project.

[2019-04-23 01:33] wasakakero commented on #7
@aymanbagabas just to be clear the LED didn't work.

As for #8 I can certainly try them out, but I have no idea how I would go on setting up the battery protection settings since there is no PC Manager, I'm not aware of a key combination for this.

And I have to ask, since I rebooted after inserting the module, is it still in there or I have to do the commands all over and test without rebooting?

[2019-04-23 02:01] aymanbagabas commented on #7
Hmm.. could you please try this and provide `dmesg` output. Make sure you're using the driver from this repo. If you haven't installed the driver using `make install`, make sure you unload the old driver that's equipped with the kernel and load this one after compile.
[huawei-wmi.zip](https://github.com/aymanbagabas/Huawei-WMI/files/3105466/huawei-wmi.zip)

Also try these using `acpi_call` and giv

[2019-04-23 02:08] aymanbagabas commented on #7
There is no key combination for this. In Windows and using Huawei PC Manager, you can set battery charging thresholds/limits so it protects your battery from wearing down quickly. You can also change the behavior of the Fn key as if it was the opposite. So the default behavior while fn toggled off (led off) pressing F1-F12 would trigger a hotkey. If this fn-lock thing is on, it would trigger the F

[2019-04-23 04:16] nekr0z commented on #8
I'd love to, but I'm on Debian (kernel 4.19), and this is very much my production laptop, so simply wiping the system and getting fresh Arch is not something I'd consider. You may have just tempted me to give compiling 5.0 a try, but I have never done it all from scratch (I usually rely on packages to patch and recompile kernel), so I need some time to figure it all out.

[2019-04-23 10:38] aymanbagabas commented on #8
@nekr0z you could try booting from usb. As long as you're using kernel >= 5.0 you should be good.

[2019-04-23 13:00] nekr0z commented on #8
Ok, 5.0.2 is already in Debian experimental, why not give it a try while I'm at it... Sweet Discordia, touchpad patching again!..

Alright, ready. Aaaaaand... here we go!
[code]
Am I missing something?

[2019-04-23 13:30] aymanbagabas commented on #8
Instead try
[code]
Don't install!

[2019-04-23 13:39] nekr0z commented on #8
You meant huawei-wmi.ko, right?
[code]
Nothing.

[2019-04-23 13:42] aymanbagabas commented on #8
Yeah my bad. What about dmesg, do you get any output?

[2019-04-23 13:54] wasakakero commented on #7
I did as instructed and here are the results:

Micmute LED turned on:

[code]

Micmute LED turned off:

[code]

Didnt notice any change:
[code]

Didn't notice any change:
[code]

[2019-04-23 13:56] nekr0z commented on #8
input: Huawei WMI hotkeys as /devices/platform/PNP0C14:03/wmi_bus/wmi_bus-PNP0C14:03/ABBC0F5C-8EA1-11D1-A000-C90629100000/input/input23

[2019-04-23 14:00] wasakakero commented on #7
Are the instructions referred in #9 valid for the battery protection in this device as well?

I can confirm that the FN Key work as intended in both v1 and v2 as far as I know, led on means F1-F12 keys act as F1-F12 keys, led off means they act as the hotkeys for birghtness, volume, wifi and so on.

[2019-04-23 14:00] aymanbagabas commented on #8
Could you try [this](https://github.com/aymanbagabas/Huawei-WMI/files/3105466/huawei-wmi.zip) and see if you get any messages in dmesg.

[2019-04-23 14:09] nekr0z commented on #8
Yep.
[code]
Mic led started working immediately. Fn-lock state can be read and is accurate (althought can't be written, do you support some way of setting these variables too?)
Batpro settings are a bit off. Your driver shows start threshold of 0, stop threshold of 40, while in fact they are 40-70.

[2019-04-23 14:11] aymanbagabas commented on #7
Thank you for keeping up with this. I just noticed in SSDT1 of your model that every call to WMAA checks a local variable if it's set to 2, it passes the command, otherwise, it doesn't and returns 1 meaning incorrect input or something. I haven't seen this in other models and I don't see the point of having this in the AML code. That's why you get '0x01' in your output. Please try running that com

[2019-04-23 14:13] aymanbagabas commented on #7
This mode inverts this behavior so led on and F1-F12 give hotkeys.

[2019-04-23 14:21] aymanbagabas commented on #8
Great! You need root to write into these files. `echo 1 | sudo tee /sys/devices/platform/huawei-wmi/FILE`

Aha! I see why. In your model, these data are off (location wise) by one byte. Idk how this would be handled correctly. But setting these values should work. setting it to 0-100 disables protection.

[2019-04-23 14:34] nekr0z commented on #8
Setting them to 0-100 indeed disables protection. Setting them to any other value pair does nothing at all.

[2019-04-23 15:20] aymanbagabas commented on #7
Notice the ‘1’ in the command 4th digit from left. 0x00000b04 is off and 0x00010b04 is on. Print the output as well `sudo cat /proc/acpi/call` Since it has the return status from the command.

[2019-04-23 15:28] wasakakero commented on #7
@aymanbagabas You were right!, so entering 2 times "echo "\_SB.WMI1.WMAA 0 0 0x00010b04" | sudo tee /proc/acpi/call" turned on the LED, entering the turn off command 2 times also works turning off the LED.

Here are the outputs:

Turning ON:

[code]

Turning OFF

[code]

[2019-04-23 15:32] aymanbagabas commented on #7
@wasakakero thank you for your patience and great job!
I will work on these issues and update the driver ASAP.

[2019-04-23 15:38] wasakakero commented on #7
@aymanbagabas not an issue, I'm glad I can help.

Now, should I create a separate issue to check for FN-Lock and Battery Protection? I would also appreciate instructions on how to enable both options, I take for battery the instructions in #9 are ok?

[2019-04-23 15:38] aymanbagabas commented on #8
Oh! I see why. It's the same problem because the driver gets the current thresholds values before it updates them. This is there because the driver uses two sysfs attributes (files) to control the thresholds. But the way WMI controls these values in Huawei laptops is using one method passing both low and high values. I will change it from two attributes to one containing both low and high threshol

[2019-04-23 15:44] aymanbagabas commented on #7
You could either open a new issue or use #8 since it's the same topic. To enable these options, after you `insmod` the new driver you should see three new files under `/sys/devices/platform/huawei-wmi/`. Two files control low and high charging thresholds and one controls fn-lock state. I will probably combine the two thresholds attributes (files) into one to be more convenient.

[2019-04-23 15:56] nekr0z commented on #8
Keep me posted, I'll be glad to test. And thank you so much for the mic led! (and I guess thanks for moving me to kernel 5, too ;-)

Do you envision any way to eventually make it possible to set those values as non-privileged user? You might have already checked up [my crude attempt on UI](https://github.com/nekr0z/matebook-applet), and that currently requires a lot of hoop-jumping that is not too

[2019-04-23 16:07] aymanbagabas commented on #8
I like that! You could also create a very simple UI, along with sys applet, that access those values under /sys. You could use a udev rule to change the permission of these values so that a particular group ex. `wheel` can access them maybe it asks for root privileges if otherwise. That would be really the best way to do it. You could change the owner of these sysfs files but as you can tell it's

[2019-04-23 16:34] nekr0z commented on #8
That will definitely be my next step as soon as you get battery protection settings sorted out and "API" stabilized.

I like it. A separate group, like `huawei-wmi`, and those udev rules packaged together with DKMS - yep, that should be the way to go. Would you be up to adding those when you're ready to package?

Totally. No, the udev+group approach is much more sane. And IMHO the group needs to b

[2019-04-23 16:53] wasakakero commented on #8
@aymanbagabas I just wanted to check this "by the book", your solution to change values using:

`echo 1 | sudo tee /sys/devices/platform/huawei-wmi/FILE`

Always throws me an invalid argument with "tee" as shown here:

[code]

[2019-04-24 14:38] aymanbagabas commented on #8
I've updated the driver hopefully it resolves this issue. Please take your time testing it while monitoring `dmesg -w` for any error messages and if you could, try playing with these options
1. set/get charging thresholds
2. set/get fn lock

Bear in mind that I've combined the two attributes responsible for charging into one.
Thank you!

[2019-04-24 15:10] wasakakero commented on #8
@aymanbagabas At least for my device, it *seems* to be working.

Micmute led still doesn't turn on/off (in case the fix in #7 is included in this update)

FN Lock State I can confirm works perfectly fine with both 0 and 1 values.

I was in 100% and set the threshold to 0-80, I'm plugged in but discharging, I will keep playing with the values and see if anything doesn't work as intended.

if it hel

[2019-04-24 15:18] nekr0z commented on #8
@aymanbagabas First of all, on MateBook 13 it works. I mean, everything works as expected. Tested fnlock, tested various thresholds.

I hope these lengthy dmesg outputs I see appearing upon every interaction (both gets and sets) are just for debugging and will be switched off in release, right?
[code]
But no, no errors or warnings in dmesg. Great work, you're awesome!

[2019-04-24 15:54] wasakakero commented on #8
So I played with some values.

0-80= still keeps discharging below 80
75-80 = "plugged in, not charging" (which I believe is intended)
70-90 = same as above.

If doing ranges like 70-90, 40-70 and so on (which I believe is how they were presented in PC Manager) is the intended use case, then yes, it is working as intended no problem.

hope I could be of help!

Thank you for your hard work!

[2019-04-24 16:37] aymanbagabas commented on #8
Of course! There just there for debugging. Mainly to see returned buffer from bios since each model has a different implementation.

[2019-04-24 16:41] aymanbagabas commented on #8
The thing is, setting the thresholds to 0-100 disables it so I would assume that it's not working because you have your low value set to 0. Try 1-80 and see if anything changes. Generally, avoid setting the low value to 0 and high to 100.

[2019-04-24 16:42] aymanbagabas commented on #7
@wasakakero could you please provide your `dmesg` output?

[2019-04-24 16:46] wasakakero commented on #7
@aymanbagabas sure thing, here it is:

[dmesg.txt](https://github.com/aymanbagabas/Huawei-WMI/files/3113343/dmesg.txt)

[2019-04-24 16:51] aymanbagabas commented on #7
I don't see any micmute event triggered in the log? Also try `xdotool key XF86AudioMicMute` since the led is independent of the key, it would toggle the led.

[2019-04-24 16:56] wasakakero commented on #7
@aymanbagabas those "setkey" events I'm sure you can see is me pressing the micmute button, bear in mind as explained before that the micmute key works without issue, but the LED is not.

xdotool worked to mute/unmute the mic just as if I were pressing the key, but didn't turn on the led.

[2019-04-24 16:58] wasakakero commented on #8
@aymanbagabas just tried 1-80, it indeed works.

[2019-04-24 17:09] aymanbagabas commented on #7
Do you get those "setkey" events from micmute key only or others as well? What is the output of these commands? Do you have a `leds` directory?
[code]

Could you also use `evtest` to test micmute key? Run `sudo evtest` then select `Huawei WMI hotkeys` press your hotkeys.

[2019-04-24 17:20] aymanbagabas commented on #7
The way this works is, the LED is hooked to alsa where it triggers the micmute function from the driver. However, there aren't any calls to that function and no errors given. Which means either no micmute event given, but you did, or something with the led subsystem. Or something off with the driver

[2019-04-24 18:02] wasakakero commented on #7
@aymanbagabas so I checked, the setkey events happens with:

Brithness (on and off)
Keyboard backlight
Micmute
Wifi (on and off)
PC Manager key

All of these keys work fine except for maybe PC Manager because I don't have anything assigned to it anyways, I believe.

Evtest showed keypresses in the same keys where setkey events happened, except for keyboard backlight.

Also Volume up, down, mute an

[2019-04-24 18:16] aymanbagabas commented on #7
Thank you for your collaboration!

That's because, on newer models, these keys are being treated as regular keyboard keys. Old models like Matebook X (2017) does not where it needs the driver for these to work.

Is `pulseaudio` running? What DE you're using?

This means nothing wrong with the driver

[2019-04-24 18:17] wasakakero commented on #7
@aymanbagabas PulseAudio is indeed running, I'm on KDE.

[2019-04-24 18:28] aymanbagabas commented on #7
Try using the GUI settings to toggle mic mute. At this point, I can't think of anything that would cause this behavior. I'm using Gnome and changing the micmute from settings changes the LED accordingly. As I said, the driver hooks with ALSA and that's where ALSA takes control and changes the LED to match the sound system. Are you running the latest updates? What distro you using?

[2019-04-24 18:33] wasakakero commented on #7
@aymanbagabas I tired both the GUI and Alsamixer but the LED didn't work.

Perhaps this has to do with comment https://github.com/aymanbagabas/Huawei-WMI/issues/7#issuecomment-485819936 ?

[2019-04-24 19:52] nekr0z commented on #7
KDE shouldn't be any different, and indeed isn't in my case, so I bet it's laptop model specific.

[2019-04-24 21:26] aymanbagabas commented on #7
No, if it was, toggling the led using `echo 1 | sudo tee /sys/devices/platform/huawei-wmi/leds/platform::micmute/brightness` wouldn't work. I worked around that issue by checking the return bit every time the driver run a command.

It's the sound subsystem, not that anything's wrong with it, but we need to hook up the Matebook D sound system to the linux sound driver. See [this](https://github.com

[2019-04-24 23:26] wasakakero commented on #7
@aymanbagabas here is mine: http://alsa-project.org/db/?f=0f1f4274a6b8d9a594c7b4a388cc87712713aba9

As a side note, I have experienced a lot of crackling noise in my Mic when I speak since I first installed Fedora, not world ending but noticeable, just wondering if any of you experience the same with the MBX and where would it be best to report to.

[2019-04-24 23:42] aymanbagabas commented on #7
Thank you!

First, I would search the internet if anyone had the same/similar issue and see. See [this](https://wiki.archlinux.org/index.php/Advanced_Linux_Sound_Architecture/Troubleshooting#Crackling_microphone) and [this](https://wiki.ubuntu.com/Audio/PositionReporting). If no luck and you couldn't find any resources on the internet, I would start by submitting a bug to the [ALSA project](https:

[2019-04-25 04:21] nekr0z commented on #7
http://alsa-project.org/db/?f=be4acc627c836fd0205f5f9ee72eac354a27be0a

[2019-04-25 14:06] aymanbagabas commented on #7
@nekr0z I'm curious to know how you got the led to work. Did it work right after you upgraded to 5.0?

Because [these](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/sound/pci/hda/patch_realtek.c?h=v5.0#n6873) three lines in patch_realtek.c are the ones responsible for hooking the led to ALSA. The Matebook 13 has this id `Subsystem Id: 0x19e5320d` and the Matebook D has `S

[2019-04-25 14:21] nekr0z commented on #7
It started working right after I updated to 5.0 and installed your driver version 2.0. I honestly didn't test with 5.0 and driver v1. But if I `rmmod` the driver, it stops working.

[2019-04-25 14:23] nekr0z commented on #8
I updated my [UI applet](https://github.com/nekr0z/matebook-applet) to work with the new `/sys/devices/platform/` interface, so it should also work on other MateBooks that are supported by Huawei-WMI. Testing would be much appreciated.

[2019-04-25 15:46] aymanbagabas commented on #7
@wasakakero I know you're using fedora, so what kernel version you using? `uname -a`.

I'm gonna compile a patched version of `snd-hda-codec-realtek` for you to test the LED. If you want to compile it you're self I'll be glad to help you out. Thank you guys for your contributions!

[2019-04-25 15:50] aymanbagabas commented on #7
You mean the one from `master` right?

[2019-04-25 16:31] nekr0z commented on #7
No, it worked with released version 2.0, too. And it works with master, yes.

[2019-04-25 16:33] nekr0z commented on #8
By the way, there's one thing I've been noticing; I'm not sure where this bug is rooted. Every time I set fnlock state, no matter on or off (either by setting register directly, or by Huawei-WMI interface), my keyboard layout switching stops working, and I need to reapply settings in KDE again (I believe KDE relies on `xkb` in that regard)...

[2019-04-25 18:10] wasakakero commented on #7
@aymanbagabas My kernel version should be `Linux localhost.localdomain 5.0.7-200.fc29.x86_64 #1 SMP Mon Apr 8 15:40:59 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

[2019-04-25 18:21] wasakakero commented on #8
@nekr0z I'm more than happy to test the applet, but I notice the script it is based on (according to the readme) is not the solution discussed here, I take it is just outdated, would it be possible for you to explain me how to actually get it working?

Would you also mind telling me what do you mean by keyboard layout switching and how you do it? I'm also on KDE and I can check if my installation

[2019-04-25 18:30] aymanbagabas commented on #7
[snd-hda-codec-realtek.zip](https://github.com/aymanbagabas/Huawei-WMI/files/3118338/snd-hda-codec-realtek.zip)
@wasakakero please use this compiled module to test the LED. Move `snd-hda-codec-realtek.ko` to `/lib/modules/5.0.7-200.fc29.x86_64/updates/` then execute `sudo depmod -a` and reboot.

[2019-04-25 18:47] wasakakero commented on #7
@aymanbagabas Thank you for the comprehensive instructions.

I've done as instructed and the LED is still not turning working.

As a side note on your comment I see you mentioned "ALC255" but as far as I can see mine uses "ALC256"

[2019-04-25 19:57] nekr0z commented on #8
I'm writing a readme update right now, will have new readme and new packaged release packaged in 10-15 minutes ;)

It's the thing you do when you need to type in languages that don't use latin letters (such as Hebrew, Chinese, Russian etc). In this case you usually have several (well, at least two, for your language and English) keyboard modes (called 'layouts') and some hotkey to switch between t

[2019-04-25 20:41] aymanbagabas commented on #8
I have my layout switch set to `Super+Space` and it works fine. Now I have changed it to `CapsLock`, and it worked fine except that when I change layout it turns the capslock on so I get either always caps letters or always lower ones. I'm running Gnome, it might be KDE specific, idk.

[2019-04-25 20:50] nekr0z commented on #8
KDE is a little different in that it has two separate systems for layout changing. One is KDE proper, and that one sets CapsLock as you described, another one is I believe somewhat rooted in X.org ways of handling this, and that one automatically remaps CapsLock behaviour to Shift+CapsLock if CapsLock is used for layout switching (the same as in the good old days ten years ago when we set all this

[2019-04-25 20:50] aymanbagabas commented on #7
Could you provide `dmesg`, `cat /sys/devices/platform/huawei-wmi/leds/platform::micmute/trigger`, and `modinfo snd-hda-codec-realtek`.

You're right, `ALC255_FIXUP_MIC_MUTE_LED` is used. But this one is different, this refers to platform specific micmute led function. In this case, it should call the led function in the driver. Now idk why they have it "ALC255" really it's just a name.

[2019-04-25 21:03] wasakakero commented on #7
@aymanbagabas I tried with the new file, didn't work.

Please find attached the outputs.

[dmesg](https://github.com/aymanbagabas/Huawei-WMI/files/3118865/dmesg.txt)
[micmute trigger](https://github.com/aymanbagabas/Huawei-WMI/files/3118866/micmute.trigger.txt)
[modinfo](https://github.com/aymanbagabas/Huawei-WMI/files/3118867/modinfo.txt)

[2019-04-25 21:17] aymanbagabas commented on #8
@nekr0z So there is an edge case I just stumbled on after I used your applet. I just noticed that on my model setting the battery to 0-100 doesn't particularly set the thresholds. Remember the 0xc0 that corresponds to the mode being on/off. That's what it's doing in my model. Matebook D is not affected, it actually sets whatever values given even if they were off limit which is kinda interesting.

[2019-04-25 22:45] aymanbagabas commented on #7
[code]
SELinux prevents probing the module. Maybe because it was compiled in different machines?!

Could you please try the following and then output dmesg:
[code]
Then try micmute :crossed_fingers:

[2019-04-25 23:07] wasakakero commented on #7
So I did that, didn't work.

BUT

I disabled SELinux in /etc/selinux/config added the mod using depmod -a just to e extra sure, rebooted, loaded the WMI Driver.

**Micmute and micmute LED worked.**

[2019-04-25 23:15] aymanbagabas commented on #7
Awesome! You nailed it! Thank you for your work

I guess now that we 'kinda' resolved this issue, we will leave it open until it gets patched in upstream.

[2019-04-26 04:36] nekr0z commented on #8
What the applet is currently doing is interpret 0-x (where x<=100) as protection off, and setting 0-100 when asked to switch the protection off. Is this sane behaviour for this edge case, or is there something I need to change?

[2019-04-26 15:54] aymanbagabas commented on #8
Exactly, 0-100 is sane behavior. But with my machine, 0-100 doesn't change the thresholds, it switches the protection off. My workaround was to set the thresholds to 0-0 before setting it to 0-100. But for some reason, this doesn't work unless I have a delay between the two functions. The first call to the function gets ignored it might be something with scheduling, I have to dig in more.

[2019-04-26 20:39] nekr0z commented on #8
Yeah, from what you say it looks like it should better be handled by the driver. Alternatively, you could add some marker for your model in `/sys` so I could catch the fact we're running on this model and introduce double switching and additional checks in the applet, but that looks dirty. Would be better if you found the way to get this on the driver level.

Keep me posted one way or the other, a

[2019-04-27 00:56] aymanbagabas commented on #8
That's probably what's happening, according to [this](https://wiki.ubuntu.com/Kernel/Reference/ACPITricksAndTips).

Used `schedule_delayed_work` and mutex to workaround this. Agh, it took a while!

[2019-04-27 06:10] nekr0z commented on #8
[code]

[2019-04-27 06:25] aymanbagabas commented on #8
Yeah that's supposed to be wmi_mutex

On Sat, Apr 27, 2019, 2:10 AM Evgeny Kuznetsov <notifications@github.com>
wrote:

[2019-04-27 06:40] nekr0z commented on #8
With that line removed it compiles and works. The only caveat I see is that setting battery protection to OFF takes some time (but happens eventually) that the applet updates BP status (top of the menu) before it is set, so it's displaying it wrong. Do you have a guesstimate of how long a delay is generally expected, so I could put a `sleep` call in place?

[2019-04-27 06:50] aymanbagabas commented on #8
I don’t have an estimated time but I would say 500ms to 1s is more than enough since reading the file many times generates a lot of interrupts. That’s actually the problem the driver has with this case. You could read the status only once when the applet is accessed.

[2019-04-27 07:06] nekr0z commented on #8
I'd rather not generate reads every time applet is accessed (and it is not trivial with the library I use anyway), so I'll go the `sleep` way. From what you're saying I gather that up to five reading attempts with 500 ms interval should be not too much taxing.

[2019-04-27 08:20] nekr0z commented on #8
Did some testing, never got thresholds 0-100 set in under 850 ms, so 900 ms interval it is. Commit in `master` now.

[2019-04-27 18:23] aymanbagabas commented on #8
That's actually a problem. The driver should be able to handle multiple calls simultaneously without skipping any call. I'll work on implementing some sort of a wait queue for any call with a short delay after each call. The applet shouldn't worry about any delays because that's the driver's responsibility.

[2019-04-27 20:09] nekr0z commented on #8
Makes sense. I'll revert the commit as soon as you sort it out, leave it in for now just in case you don't. You've done impressive work anyway, I think I'm speaking for all the community when I say I admire it.

[2019-04-27 20:42] aymanbagabas commented on #8
Thank you! I wouldn't get this far if it wasn't for you guys.

[2019-04-28 00:44] aymanbagabas commented on #8
@nekr0z please try this one. The driver now has a `workqueue` that executes commands in a FIFO order.
[huawei-wmi.zip](https://github.com/aymanbagabas/Huawei-WMI/files/3124475/huawei-wmi.zip)

Turning BP off always has a delay. Now when you think about it, the user would not stay and watch the values get updated in the file. In this case, a short delay wouldn't matter and is not noticeable.

So th

[2019-04-28 06:15] nekr0z commented on #8
Yes, I got the idea several comments ago. The problem is the library I'm using for system tray is a very basic one and doesn't have appletClick events, only itemClick ones.

That's for sets, not gets, right? Because what I'm seeing is
[code]
That `0 100` immediately after setting is what I'm having issues with.

[2019-04-28 09:06] janbaer commented on #9
@aymanbagabas I'm sorry but I just read this issue today. Do you still need the DSDT/SSDT tables.
Could you please give me a hint how to list it? How about the BIOS update? To be honest, I have never checked if there's an update for the BIOS at all and I'm also not sure how to update it from a Linux system. I assume, if there's an update, that there's only a Windows supported updating app provided

[2019-04-28 09:22] nekr0z commented on #9
I con't know which model you're running, but for MateBook 13 it [has been figured out](https://github.com/nekr0z/linux-on-huawei-matebook-13-2019#bios-updates). Probably works on other MateBooks, too (if you use correct device GUID for your model), but I don't think anyone tested it.

[2019-04-29 14:13] aymanbagabas commented on #9
All huawei laptops that I have seen have a common BIOS WMI device controller. Except the old matebook, it has this common device but it also has another one that controls most of the features. I wanna see if the latest BIOS adds support for this common device so that we don’t need to implement the “legacy” controller.
If you have any questions I’ll be happy to help.

You’re awesome. I tested it an

[2019-04-29 17:11] nekr0z commented on #8
@aymanbagabas Just wanted to make things clear: while obviously disturbing, this issue is far from being a show-stopper, and I have already implemented a workaround in the applet, so if that's the only thing stopping you from making a release, just table it ;)

[2019-04-29 18:22] aymanbagabas commented on #8
I'm trying to get around this using a different/simpler approach. The kernel API has an EmbeddedController API, I'm trying to use that instead of the dirty `workqueue` approach. I still have to look more into that and I'm not sure if it's doable this way. The problem with the current approach is, imagine two calls came at the same time, which one is going first? Using EC API we could eliminate pot

[2019-04-29 18:39] nekr0z commented on #8
You obviously know these things much deeper than I do, so go ahead and do your magic whichever way you deem proper! ;)

[2019-05-01 16:35] aymanbagabas commented on #8
So I've come to conclude that the driver should be as simple as possible. This means no workqueues, waitqueues, or anything else. This problem only happens with my model (MACH-WX9), right? Still setting it to 0-100 disables BP but it doesn't set these values. This could be fixed using driver quirks which is not implemented yet. Or a possible route is to patch DSDT table but that's not really a sol

[2019-05-01 16:35] #8 closed

[2019-05-02 03:01] aymanbagabas opened #11 "Battery protection values don't get updated when switching off protection on MACH-WX9"
On the Matebook X Pro (2018) `MACH-WX9`, setting battery protection to off `0-100` doesn't update the thresholds values, instead, it only switches protection off.

The AML code responsible for this
[code]
`SBTT` sets thresholds values, and `GBTT` gets these valuse. Note that both `ECXT` and `RRAM` have a mutex lock on EC.

A proposed solution could be to set these values to `0-0` before setting it

[2019-05-02 03:11] aymanbagabas commented on #9
@janbaer if you're still interested in helping to implement the "legacy" BIOS interface that's found on laptops such as Matebook X (2017) I will be glad to work with you. Right now, with tag `v3`, micmute LED wouldn't work on Matebook X (2017).

[2019-05-02 07:52] nekr0z commented on #8
@aymanbagabas Awesome work, thank you again! I think I'll make waiting for changes to be reported back optional in the applet, so that it can be switched on with a command line flag, since the code is in there anyway. I'll keep following you work in case changes to the applet need to be made in future, and of course feel free to ping me if you need any testing or anything.

[2019-05-02 22:17] aymanbagabas commented on #9
Right now, I'm trying to figure out a way to detect laptop available features. I created a simple bash script that uses `acpi_call` to execute native AML methods. I have noticed lagging in my system after the script finished executing. This is the script if anyone is interested. [testAML.txt](https://github.com/aymanbagabas/Huawei-WMI/files/3140136/testAML.txt)

From the output of this script, I'v

[2019-05-04 16:07] janbaer commented on #9
@aymanbagabas I'm sorry for the late answer. Yes the Matebook X 2017 has also fn-lock and it's also working for me (if me mean the same). The mic-mute fn  key is actually not working, but till today I didn't miss it, because I never used it. About battery protection I have no idea, what feature it's.

Unfortunately I still don't know how to generate the DSDT/SSDT tables you asked for. But how abou

[2019-05-04 18:53] aymanbagabas commented on #9
Did you remap the micmute key? Fn-lock works by inverting the behavior of the function keys. It's not when you have the Fn led on. With Fn-lock, and Fn led is on, the function keys would be the multimedia keys **NOT** F1-F12. For battery protection, it sets charging limits so it protects the battery from wearing out.

It is unlikely that the vendor updated the BIOS with the new management interfac

[2019-05-13 20:41] aymanbagabas commented on #7
Submitted a patch to upstream [here](https://lore.kernel.org/patchwork/patch/1073178/)
closing this one :+1:

[2019-05-13 20:41] #7 closed

[2019-05-18 11:18] codeitlikemiley opened #12 "Im using latest kernel and archlinux"
Ived read that this was included in the latest kernel update
if you using 5.0,
Im using huawei matebook 13 , i try to check using lsmod | grep wmi

i got this
[code]
Some problems im facing is that i cannot detect a headset when plugged in.
also i wanna know i can use the battery protection
Also ive read there is a matebook applet but its not running i dont see it on my status bar
May i know the c

[2019-05-18 12:05] codeitlikemiley commented on #12
i manage to control the mic on off
by adding this to my i3 conf
[code]

hope you can help me with screen brightness problem
cause if i use the xbacklight command
it just returns me this message
[code]

[2019-05-19 09:53] aymanbagabas commented on #12
To use battery protection, you have to compile the latest driver from master and set charging thresholds from /sys/devices/platform/huawei-wmi/charge_thresholds as described in the readme.

[matebook-applet](https://github.com/nekr0z/matebook-applet) is another project by @nekr0z. This is not the same project!

Brightness is handled through acpi_video. AMOF this driver would cause reporting bright

[2019-05-20 01:56] codeitlikemiley commented on #12
i have no luck compiling your repo
[code]

but i do manage to make a work around on the screen brightness
ive installed brightnessctl
also the  audio jack is detected but needs to be switch manually thru pavucontrol
btw heres my i3 conf
i did install some scripts from matebook 13 applet project like the batpro and fnlock
[code]

[2019-05-20 03:09] aymanbagabas commented on #12
Please follow the readme for compiling the driver.

[code]

fn lock is different from fn toggled (led on) be aware of that!

[2019-05-20 06:15] codeitlikemiley commented on #12
I believe im missing some dependencies which is not explicitly define on the readme.
i tried on my other arch laptop , not huawei but ...
i tried to install archlinux lts kernel
[code]
now my kernel is an lts kernel

I did try to cd to Huawei-WMI but it failed again, maybe because the laptop i used was not huawei matebook 13.

but it produces a different error now

[code]

[2019-05-20 06:31] codeitlikemiley commented on #12
I fucked up, but i manage to make it work the make command.
I did remove the linux-lts kernel and the linus-lts-headers

reinstall linux and linux-headers

sudo grub-mkconfig -o /boot/grub/grub.cfg
reboot
then go to Huawei WMI folder
no errors

[2019-05-20 06:52] aymanbagabas commented on #12
Glad everything worked out. The errors you were getting were because of kernel < 5.0.
Closing this issue for now.

[2019-05-20 06:52] #12 closed

[2019-05-20 06:57] codeitlikemiley opened #13 "/sys/devices/platform/huawei-wmi : No such fie or directory"
I did manage to on your steps i did a reboot
but i dont know why i still dont have it ,
Dont know where i fucked up again

[2019-05-20 07:19] codeitlikemiley commented on #13
i tried to remove all my bindings in i3 to see if any keys would work after the patch
but majority of the fn keys wont work, i think the only thing that is working like before is the keyboard brightness and the wifi, the super +P .

the rest , the screen brightness cannot be control the mic led wount light up
the volumn wont work also.

so i have to put back all those keybindings which uses third

[2019-05-20 07:51] aymanbagabas commented on #13
To be clear, this driver makes these function keys report events to the system where you MUST have a running daemon that triggers each event. On Gnome, this would be `gnome-settings-daemon`, KDE, Xfce, etc would have something similar. This usually listens to brightness key events and other events and calls the appropriate command. To get audio keys you have to use something like [volumeicon](http

[2019-05-20 09:51] codeitlikemiley commented on #13
i tried to use follow your instruction...
`$ sudo unzip huawei-wmi-3.1.zip -d /usr/src/
$ sudo dkms add huawei-wmi/3.1
$ sudo dkms install huawei-wmi/3.1
$ sudo dkms autoinstall --all
$ sudo reboot``

[code]
Error! echo
Your kernel headers for kernel  cannot be found at
/usr/lib/modules//build or /usr/lib/modules//source.

[code]

[2019-05-20 10:35] nekr0z opened #14 "v 3.1 not working on MateBook 13"
After update to driver v 3.1 additional keys (WiFi switch, micmute, PCmanager) and micmute LED stopped working on MateBook 13. Batpro and fnlock functionality still available.

[2019-05-20 21:16] aymanbagabas commented on #13
That's fine you can skip these reboot and you should have everything working.

[2019-05-20 21:20] aymanbagabas commented on #14
Hmm.. that's strange. Does it register the input driver? What's the output of `lsmod|grep wmi`, `dmesg|grep wmi`, and `sudo evtest`. Do you have `leds` under `/sys/devices/platform/huawei-wmi/`? Is there a `platform::micmute`?

[2019-05-20 21:24] aymanbagabas commented on #14
Could you try using DKMS from [here](https://github.com/aymanbagabas/Huawei-WMI/releases).
[code]

[2019-05-21 04:59] nekr0z commented on #14
Ermmm... Maybe. Not sure. How do I check? ;-)

[code]

[code]

[code]
:-D

Well, let's try again...
[code]
That's better...

And here's where the weird part starts. There is no `huawei-wmi` under `/sys/devices/platform/`. At all.
[code]
However, matebook-applet successfully reads and writes... Oh! Oh! Disregard my previous comment on how batpro levels and fnlock work, they don't! The applet falls

[2019-05-21 05:22] aymanbagabas commented on #14
Ahhh you got a kernel panic! Can I see you full `dmesg`? The module didn't get probed due to error.

[2019-05-21 08:03] nekr0z commented on #14
Yep, I looked into it more closely, and it's all shambles with 3.1: sometimes it wouldn't even boot, attempting to kill init, other times it wouldn't reboot correctly, requiring the SysRq REISUB dance (thank heavens for FnLock ;))) No such behaviour with 3.0.

Why not, [here](https://github.com/aymanbagabas/Huawei-WMI/files/3201371/dmesg.txt) you go.

[2019-05-21 09:19] aymanbagabas commented on #14
Fixed in v3.2
Thank you!

[2019-05-21 09:19] #14 closed

[2019-05-21 10:40] nekr0z commented on #14
Yep, works. Thank _you_! Keep up the awesome work!

[2019-05-22 12:25] mariusrodi opened #15 "Won't compile on Huawei Matebook 13 following your installation guide"
Hey,

I won't get it to work following your installation guide.
The errors are:
[code]
and:
[code]
I am running Kernel Version 4.19.42-1-MANJARO on Manjaro Awesome.
My steps were:
- installing kernel headers
- cloning repo
- make --> Errors

Would appreciate it if you have the time to come up with a fix.
Thanks

[2019-05-22 21:47] aymanbagabas commented on #15
You're getting this error because you're running 4.19. `LED_AUDIO_MICMUTE` has been implemented in 5.0 so you either upgrade to at least 5.0 or run the old version of this driver version v1.0.

I recommend upgrading so you can try out the new features in v3.2

[2019-05-23 03:21] aymanbagabas commented on #13
Please close the issue if everything works as expected. Thank you

[2019-05-23 05:54] mariusrodi commented on #15
I ran the old version of the driver following the guide for version 1.0.

I will try it again after updating the kernel.

[2019-05-26 17:04] darthf1 commented on #13
Came here having the same issue. Running Ubuntu 19.04 on a Matebook X Pro. Kernel 5 should be shipped with this driver but the folder was empty. So i manually installed the driver via dkms.
[code]
My folder `/sys/devices/platform/huawei-wmi` is still empty and i cannot run the applet because of it.
[code]

[2019-05-26 21:17] aymanbagabas commented on #13
@darthf1 version v2.0 is the one shipped with kernel 5.0 but the newer one v3.0 that has battery protection is not, I'm working on submitting it to mainline hopefully to kernel 5.2. I should perhaps note that in the readme.
Please use the version from the repository. Thanks

[2019-05-30 07:26] aymanbagabas commented on #9
Hi guys! @nekr0z @wasakakero @janbaer
I've updated the driver to include a debugfs interface for future debugging purposes and made tons of refactors. Right now, I'm preparing to submit this version to mainline kernel so I would need some help verifying all the functions work as expected.

Please test the following while watching dmesg for any errors, you could use `dmesg -w`. If you could also pr

[2019-05-30 08:02] nekr0z commented on #9
OK, here's for MateBook 13:
* Driver compiles and installs as expected.

Works as expected, no issues, all correct.

Works as expected.

Again, works as expected.

What do you think, works as expected!

Well, here we go...
[code]
Not sure whether this is expected or not, but let's go on...
[code]
The last command here brings micmute led on (I kinda expected the first command would, but what do I k

[2019-05-30 19:14] nekr0z commented on #9
@lidel, care to join in?

[2019-06-04 02:06] aymanbagabas commented on #11
A delay quirk is added for the affected models as well as setting 0-0 before 0-100. Closed for now

[2019-06-04 02:06] #11 closed

[2019-06-04 02:07] #15 closed

[2019-06-04 19:40] bernimoses opened #16 "fn / caps lock led stays on"
If the matebook display turns off (e.g. screen lock) the fn and caps lock leds turn on. I think this should indicate that it is still running. This is normally not a problem since the leds would turn off after the display turns on again. But if you use a external monitor as your only monitor the leds stay on until the external monitor is disconnected. If you try to toggle the keys the first click

[2019-06-05 05:54] aymanbagabas commented on #16
Does this behavior exists in Windows? If it does, then it might be a firmware/bios issue. If it's Linux specific, then further debugging is required.

[2019-06-05 19:24] bernimoses commented on #16
Same behavior in Windows. :disappointed:
I suppose this isn't something to implement regardless?

[2019-06-05 22:59] aymanbagabas commented on #16
The leds control are tied to laptop panel that's why you're getting this. A workaround could be to modify ec memory and turn off those leds once external screen is on again. You can use `ec_sys` module to modify these values.

Let me know if you have any other questions. I'll be closing this for now but feel free to reply to this thread any time.

[2019-06-05 22:59] #16 closed

[2019-06-06 04:11] aymanbagabas commented on #13
Closed due to inactivity.

[2019-06-06 04:11] #13 closed

[2019-06-06 08:50] rien333 commented on #12
@aymanbagabas my Arch install doesn't have `/lib/modules/$(uname -r)/updates/` (or rather, there is no "updates" folder). Should i create this updates folder?  Or should I maybe replace the old kernel module in `/usr/lib/modules/5.1.7-arch1-1-ARCH/kernel/drivers/platform/x86/`?

[2019-06-07 14:19] aymanbagabas commented on #12
@rien333 just create one or use dkms

[2019-06-14 09:02] blackboxlabs opened #17 "Bad return status for dkms module (huawei-wmi-3.2) build on kernel: 5.1.8-1"
I'm not sure what how exactly I should go about debugging this:

cd huawei-wmi-3.2
make
ls
dkms.conf  huawei-wmi.c  huawei-wmi.ko  huawei-wmi.mod.c  huawei-wmi.mod.o  huawei-wmi.o  Makefile  modules.order  Module.symvers

sudo dkms install -m huawei-wmi -v 3.2

Kernel preparation unnecessary for this kernel.  Skipping...

Building module:
cleaning build area...
make -j8 KERNELRELEASE=5.1.8-1-MANJA

[2019-06-15 18:12] aymanbagabas commented on #17
Hey @blackboxlabs please try [this](https://github.com/aymanbagabas/Huawei-WMI/releases/download/v3.2/PKGBUILD) PKGBUILD file. I've also added further instructions in the readme.

[2019-06-15 19:13] blackboxlabs commented on #17
----------------------------------------------------------------------------------------------------------------------
Thanks @aymanbagabas I just tried the PKGBUILD file. I got the following error message:
----------------------------------------------------------------------------------------------------------------------

makepkg -si
==> Making package: huawei-wmi-dkms 3.2-1 (Sat 15 Jun 2019 19

[2019-06-15 20:19] aymanbagabas commented on #17
@blackboxlabs could you please try this one
[code]

[2019-06-16 13:21] blackboxlabs commented on #17
Amazing @aymanbagabas it worked! Thank you so much!!

The new PKGBUILD file also suggested some troubleshoot pointers:

I had to remove previously installed files:
"/usr/src/huawei-wmi-3.2/huawei-wmi.c",
"/usr/src/huawei-wmi-3.2/Makefile" and
 "/usr/src/huawei-wmi-3.2/dkms.conf"
And then also delete the old linux kernel image 4.19.59-1

[2019-06-16 13:21] #17 closed

[2019-06-24 02:44] aymanbagabas commented on #9
@cytrinox @thisisshi care to join?

[2019-08-17 06:16] LastNeoN opened #18 "Fedora -RPM"
sudo rpm -i huawei-wmi-3.2-1dkms.noarch.rpm
Loading new huawei-wmi-3.2 DKMS files...
Building for 5.2.7-200.fc30.x86_64
Module build for kernel 5.2.7-200.fc30.x86_64 was skipped since the
kernel headers for this kernel does not seem to be installed.
___________________________________________________

Последняя проверка окончания срока действия метаданных: 0:31:34 назад, Сб 17 авг 2019 08:45:00.
П

[2019-08-18 04:39] aymanbagabas commented on #18
Seems like you're missing kernel headers. `sudo dnf install kernel-headers kernel-devel`

[2019-08-27 16:08] jannis3005 opened #19 "HUAWEI Matebook E"
Hey,

I've tried getting it to work on the Matebook E, but I couldn't get it to work. Since I don't have any Experience in developing in C nor in developing device drivers, it would be cool if you could help me out.

Here's the output of the commands from your email.

lsmod|grep wmi
`huawei_wmi             16384  0
ledtrig_audio          16384  3 snd_hda_codec_generic,huawei_wmi,snd_hda_codec_real

[2019-08-28 16:21] ivan-infro commented on #14
@aymanbagabas I tried to install 'huawei-wmi/3.2' in three ways (rpm, tar.gz and build from source), but "/sys/devices/platform/huawei-wmi" doesn’t appear :(

`lsmod |grep wmi`
`intel_wmi_thunderbolt    20480  0`
`wmi_bmof               16384  0`
`wmi                    36864  2 intel_wmi_thunderbolt,wmi_bmof`

`dmesg|grep wmi`
nothing...

Huawei Matebook 13

[2019-08-29 01:15] aymanbagabas commented on #19
This might be out of the driver's scope. Could you provide the ACPI dumps using `acpidump` specifically I need DSDT and SSDT tables.

For more info refer to https://01.org/linux-acpi/utilities

[2019-08-29 01:16] #18 closed

[2019-08-31 17:45] wrtiap opened #20 "[KPL-W0X] micmute LED doesn't activate automatically"
Everything else works absolutely perfectly for my Matebook 14D AMD. But the micmute LED does not know to turn itself on when mic is muted. If I go and directly change the value of the LED file from 0 to 1, that will turn on the micmute LED though.
Using Ubuntu 19.04

[2019-08-31 23:56] aymanbagabas commented on #20
What kernel you running? Are you running the driver from this repo or the one that comes with kernel 5.0? This might be related to this [commit](0fbf21c3b36a9921467aa7525d2768b07f9f8fbb) which got merged in stable not sure about Ubuntu 19.04.

[2019-09-01 00:07] wrtiap commented on #20
Kernel: 5.0.0-25-generic
I installed everything following "Use dkms tarball installation" in the readme.
My systemd version is 240 but my micmute fn-hotkey works so I didn't do the "sudo udevadm --debug hwdb --update; sudo udevadm trigger" step.
Thanks a lot for all this already, and sorry for being an absolute noob

[2019-09-01 00:23] wrtiap commented on #20
I've just looked at the commit thread you linked, but not sure if it's fully related (don't really understand enough of it). But I know the fn-keys, special keys, charge threshold, micmute LED (when setting manually) all work perfectly for me. But if you think it will be fixed in the next kernel of course I'd be happy to wait and report back!
By the way, if this driver comes with the kernel, does

[2019-09-01 01:16] aymanbagabas commented on #20
Yes, but the one comes with the kernel is old that's why. I'm working on submitting the new updates.

If the LED works by setting it manually, it means the kernel didn't link the led with the sound subsystem. Kernel 5.2 fixes that using the mentioned patch which should detect all Huawei laptops instead of only MACH-WX9, which is what I have, and MatebookX the original one from 2017. Try installing

[2019-09-01 13:14] wrtiap commented on #20
I've spent a while trying to install Ukuu without success, so I think I will probably leave it and just wait until the next kernel is officially upgraded, since I feel like it's reaching much beyond my current knowledge. Sorry that I wasn't able to help test it out more!
Do I close this issue or leave it open until then? Also if I am feeling brave/impatient and update the kernel manually later on

[2019-09-01 14:22] jannis3005 commented on #19
[dump.txt](https://github.com/aymanbagabas/Huawei-WMI/files/3563570/dump.txt)

i hope everything is in the attached file

[2019-09-01 17:53] aymanbagabas commented on #20
I'm sorry I should've given you instructions on what to do my apologies. Follow [this](https://github.com/teejee2008/ukuu#installation) to install Ukuu. You would do
[code]
to install add Ukuu repository, refresh apt, and install Ukuu.
* Then once you install it go to the menu and search for Ukuu. Open it up and look for the latest kernel version 5.2 and click install.
* After the installation is

[2019-09-01 19:27] wrtiap commented on #20
Hi, many many thanks again for your time! And no it's definitely my own responsibility to not require you to guide me step-by-step!
But I had already tried to do so earlier, and reason I couldn't install via "apt-get" was apparently because it's been completely removed from the (repository/ppa?) due to it now being a paid software. I then tried to install manually following the "build instructions

[2019-09-01 19:49] aymanbagabas commented on #19
Your Matebook E doesn't use the same mechanism as other models. I'd like to investigate on this more if you're still interested.

1. This line from `dmesg` is interesting because when I was looking at the DSDT table from your `dump.txt` I couldn't find a device that has the aforementioned GUID. This means that the `dump.txt` I'm afraid is not sufficient and this may be involved with more firmware

[2019-09-01 19:59] aymanbagabas commented on #20
Hmm, I didn't know that see I use Fedora :smile: which is what I call it semi-cutting-edge when it comes to updates. As of today, Fedora 30 comes with kernel 5.2.9. The current stable version is 5.2.11.

I did some googling and I found this [article](http://ubuntuhandbook.org/index.php/2019/07/install-linux-kernel-5-2-ubuntu-linux-mint/). It turns out Ubuntu provides latest testing mainline kernel

[2019-09-01 20:16] aymanbagabas commented on #19
Can you also provide `lsusb -v` and `lspci -nnv`? Since the keyboard is detachable and there is a keyboard driver firmware on https://consumer.huawei.com/en/support/laptops/matebook-e/ , this might need an extra driver :crossed_fingers: hopefully not.

[2019-09-01 23:44] wrtiap commented on #20
Hi again, I'm now on "5.2.11-050211-generic" and everything is the same, i.e. huawei-wmi directory existed and all the functions seemed to be behaving the same way. So the micmute LED is still not triggering automatically (I can still change it directly by editing the value of /sys/devices/platform/huawei-wmi/leds/platform::micmute/brightness).

[2019-09-02 00:25] aymanbagabas commented on #20
What's your model codename/product name? Is it `KPL-W0X`? This might be related to #7 . You can check your device product's name using `sudo dmidecode -t1` or `dmesg`. Could you provide a `dmesg` log please.

[2019-09-02 00:38] wrtiap commented on #20
yes it is KPL-W0X
`sudo dmidecode dmseg
# dmidecode 3.2
Getting SMBIOS data from sysfs.
SMBIOS 3.10.1 present.
# SMBIOS implementations newer than version 3.2.0 are not
# fully supported by this version of dmidecode.
Table at 0x8C4EA000.

Handle 0x0000, DMI type 0, 26 bytes
BIOS Information
	Vendor: HUAWEI
	Version: 1.19
	Release Date: 01/11/2019
	Address: 0xE0000
	Runtime Size: 128 kB
	ROM Size:

[2019-09-02 00:47] wrtiap commented on #20
And yes I remember reading through that thread a while back, it seemed quite relevant but I wasn't really able to follow at all (disabling SElinux? etc.).

[2019-09-02 01:24] aymanbagabas commented on #20
You could try disabling SElinux but I don't see that it would affect this issue. What DE are you using? GNOME, KDE, etc. Does muting the mic from has any effect? Could you provide `dmesg > dmesg.txt`, `cat /sys/bus/hdaudio/devices/hdaudio*/*`, and `cat /sys/devices/platform/huawei-wmi/leds/platform::micmute/trigger`. The first would give you a file named `dmesg.txt`.

Since the led works manually,

[2019-09-02 05:07] jannis3005 commented on #19
[firmware.zip](https://github.com/aymanbagabas/Huawei-WMI/files/3564517/firmware.zip)
[dmesg.txt](https://github.com/aymanbagabas/Huawei-WMI/files/3564518/dmesg.txt)

hope I've got everything correct :)

<details>
<summary>lsusb-v</summary>
Bus 002 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Couldn't open device, some information will be missing
Device Descriptor:
  bLength

[2019-09-02 10:28] wrtiap commented on #20
Hi I'm just using everything default from Ubuntu at the moment thankfully (so I think it's just Gnome?). Muting the mic via the function keys I see that it mutes the mic from settings->sound, and it also shows the 'mic muted/mic activaed' icon in the center of the screen (like when u change volume/screen brightness) when you use the hotkey.

[dmesg.txt](https://github.com/aymanbagabas/Huawei-WMI/f

[2019-09-03 03:40] aymanbagabas commented on #20
Hi @wrtiap,

I see from your dmesg log that you're using kernel 5.0.0-25-generic. Once you install 5.2.11 and update GRUB, you should see a new option in GRUB to boot with the newer one. If you have GRUB hidden, you could get it to show menu by holding ESC key while booting.

Let me know if it still doesn't work because I'm working on submitting a newer version to the kernel and a broken driver is

[2019-09-03 05:01] aymanbagabas commented on #19
Hi @jannis3005,

Thank you for taking the time and yes, you got everything correct thank you!

The Matebook E is interesting, looking at the provided firmware files, it appears to follow the same mechanism that the Matebook X has. It uses the same "legacy" interface. Check out #9 for more info. If you'd like to help with that, I'd really appreciate it.

Now, your dmesg log shows `Unknown response

[2019-09-03 06:28] jannis3005 commented on #19
[dmesg.txt](https://github.com/aymanbagabas/Huawei-WMI/files/3568023/dmesg.txt)

When I do <code>dmesg -w</code> and press all the keys from F1 to F12 with the FN key set to media functionality, nothing happens. I've attached dmesg.txt anyways. I think I followed all of your instructions correctly. Shouldn't <code>dmesg -w</code> print out all the pressed keys from the WMI?

<details>
<summary>cat

[2019-09-03 09:39] wrtiap commented on #20
Oh yes sorry I didn't mention. After I tested the newer kernel I immediately removed it back again and used the older one again. I'll re-upload all the logs again in 5.2.11 below

[2019-09-03 09:51] wrtiap commented on #20
sudo dmidecode dmseg:

`# dmidecode 3.2
Getting SMBIOS data from sysfs.
SMBIOS 3.10.1 present.
# SMBIOS implementations newer than version 3.2.0 are not
# fully supported by this version of dmidecode.
Table at 0x8C4EA000.

Handle 0x0000, DMI type 0, 26 bytes
BIOS Information
	Vendor: HUAWEI
	Version: 1.19
	Release Date: 01/11/2019
	Address: 0xE0000
	Runtime Size: 128 kB
	ROM Size: 8192 kB
	Charact

[2019-09-03 10:50] wrtiap commented on #20
Once again I am very happy to be able to help in any way, and I should be the one thanking you!
Also not sure at all if relevant, but since you were mentioning audio drivers, I think (can't for the life of me figure out for sure) that my front speakers are not outputting any sound (my laptop has speakers on the left/right next to the keyboard, and also left/right on the underside of laptop). Thoug

[2019-09-03 18:08] aymanbagabas commented on #19
Could you try adding `wmi.debug_event=1 wmi.debug_dump_wdg=1` to your cmdline and then reboot. If you're using GRUB, it would go in `/etc/default/grub`. You have update your GRUB menu using `sudo grub-mkconfig -o /boot/grub/grub.cfg`. Also it looks like the driver didn't get loaded since it's an out of kernel driver, dmesg should give a warning when `insmod` the driver. Please try the following:
[

[2019-09-03 18:24] aymanbagabas commented on #20
I'd be happy to help with the speakers issue but once we get this out of way. Try following the guide since it wouldn't affect what we're doing here.

I see that the driver's LED has the correct trigger `audio-micmute` which connects to `snd-hda-codec-realtek` driver in kernel as you can see in the logs you provided `DRIVER=snd_hda_codec_realtek`. Now this could be a selinux or apparmor thing so I

[2019-09-03 18:39] wrtiap commented on #20
The only file in /etc/selinux/ for me is semanage.conf, which doesn't seem to be the right thing.
I will try without disabling selinux for now.

[2019-09-03 18:48] wrtiap commented on #20
Nothing seems to have changed so far (didn't/couldn't do the selinux disabling step)

[dmesg.txt](https://github.com/aymanbagabas/Huawei-WMI/files/3570972/dmesg.txt)

[2019-09-03 22:54] aymanbagabas commented on #20
Try `sudo getenforce`

[2019-09-04 07:36] jannis3005 commented on #19
This is weird. I followed all of your instructions, there were no errors. After rebooting, when I run lsmod it shows huawei_wmi as a loaded module. But it still doesn't show anything on <code>dmesg -w</code>. I tried it again with the first method, but with the GRUB cmdline parameters set, and it shows the module with lsmod and it does not give an error on insmod. but still, i do not get any outpu

[2019-09-04 07:48] jannis3005 commented on #19
I just tried the following: I removed the kernel module and rebooted. then i run <code>dmesg -w</code> before running <code>insmod huawei_wmi.ko</code>. The moment i run <code>insmod huawei_wmi.ko</code>, 4 lines pop up in dmesg:
<code>
GUID 59142400-C6A3-40fa-BADB-8A265283
</code>

so it seems to be loading correctly

[2019-09-04 10:21] wrtiap commented on #20
The command is not found. Did I not even install Linux on my computer properly lol?
I'm assuming since selinux isn't installed, it counts as being "disabled"? Let me know if I should find a way to install it properly so I can actually disable it and test again!

[2019-09-06 23:38] aymanbagabas commented on #20
Nah I think recent Ubuntu versions don't come with SELinux, they use AppArmor instead. TBH, at this point, I can't think of anything that would cause such behavior but I can assure you it's not the driver. It has to do with the sound drivers because activating the LED manually works as you said but not using ALSA. Maybe @wasakakero can help?

[2019-09-07 01:20] aymanbagabas commented on #20
Let's try this. So basically, we're going to patch the sound driver for realtek `snd-hda-codec-realtek`. Then we're going to compile that from kernel tree based on your current running kernel which should be `5.2.11`.

[code]
Now, reboot and test the LED using a GUI/ALSA/Pulseaudio so muting the mic from a GUI should turn on the LED. Make sure you're running the latest driver from `master` branch.

[2019-09-07 16:34] wrtiap commented on #20
Sorry if it's a stupid question, but I got stuck on line 3:
~/linux$ git am 0001-Add-Huawei-KPL-W0X-mic-mute-quirk.txt # apply patch
fatal: could not open '0001-Add-Huawei-KPL-W0X-mic-mute-quirk.txt' for reading: No such file or directory

[2019-09-07 16:43] aymanbagabas commented on #20
Download the attached file and have it in the same directory.

[2019-09-07 17:12] wrtiap commented on #20
oh my god sorry! That was really stupid.
And sorry I'm stuck again line 6:
~/linux$ make oldconfig && make prepare # prepare kernel, enter default values
  HOSTCC  scripts/basic/fixdep
  HOSTCC  scripts/kconfig/conf.o
  HOSTCC  scripts/kconfig/confdata.o
  HOSTCC  scripts/kconfig/expr.o
  LEX     scripts/kconfig/lexer.lex.c
/bin/sh: 1: flex: not found
make[1]: *** [scripts/Makefile.lib:184: script

[2019-09-07 17:23] aymanbagabas commented on #20
Don't be

Just do `sudo apt-get install flex` and retry.

[2019-09-07 17:28] wrtiap commented on #20
Thanks again. Just to make a note, I had to install bison as well after that. But now I got another error for the same line. Something about openssl, but this time openssl is/was already installed:
~/linux$ make oldconfig && make prepare # prepare kernel, enter default values
scripts/kconfig/conf  --oldconfig Kconfig
#
# No change to .config
#
  HOSTCC  scripts/sign-file
scripts/sign-file.c:25:10:

[2019-09-07 17:38] aymanbagabas commented on #20
`sudo apt-get install libssl-dev`

[2019-09-07 18:00] wrtiap commented on #20
[alsa-info.txt](https://github.com/aymanbagabas/Huawei-WMI/files/3586881/alsa-info.txt)
I've done everything above and still no luck with the LED. By the way I am not exactly sure what is meant by "test the LED using a GUI/ALSA/Pulseaudio so muting the mic from a GUI...", I just tried muting the microphone via functionkey and also from settings->sound.

[2019-09-07 18:25] aymanbagabas commented on #20
Thank you! If you look at line 665 and 984 you will see that LED is enabled/seen by ALSA. If #7 got it working, then comparing your `alsa-info.sh` and the one from #7 (http://alsa-project.org/db/?f=0f1f4274a6b8d9a594c7b4a388cc87712713aba9) I can see that BIOS version is different, 1.22 there, 1.19 here. Product version is different, and that log was taken before the fix so you wouldn't find `Mic M

[2019-09-07 18:48] wrtiap commented on #20
[alsa-info.txt](https://github.com/aymanbagabas/Huawei-WMI/files/3586936/alsa-info.txt)
I've updated the BIOS to 1.22 now, and tried again but no luck still (via GUI or function key)

[2019-09-07 19:17] wrtiap commented on #20
Assuming the driver works by writing "1" or "0" into huawei-wmi/leds/platform::micmute/brightness when triggered, is there a way to track how it does so or see if it made an attempt to do so?
Just so you know, I just tried "chmod a+rwX brightness" to see if that might help (didn't), in case that'll negatively affect something.

[2019-09-07 19:41] aymanbagabas commented on #20
Look at [L250](https://github.com/aymanbagabas/Huawei-WMI/blob/master/huawei-wmi.c#L250) and  [L298](https://github.com/aymanbagabas/Huawei-WMI/blob/master/huawei-wmi.c#L298). First one is the function that gets called when setting `platform::micmute/brightness` ignore the if statement we want what's in the else statement. The second one is where we hook up the LED to `audio-micmute` trigger, this

[2019-09-08 12:26] wrtiap commented on #20
Ok I found the issue (it was on my side sorry)!
I got it to work in 5.2.11 only: a little while ago I found out how to add an "echo cancelled" version of mic input by editing some system file, which then adds a 2nd input device which I was using. Going back to "internal microphone-HD-Audio Generic" as default input device allows the trigger to work I suppose. Works even with apparmor enabled again

[2019-09-08 14:49] aymanbagabas commented on #20
All good. I don't know what is "echo cancelled" but the trigger is hooked to the Realtek sound driver so it should also work if you were using an external microphone connected through the microphone jack. If this "echo cancelled" mutes the actual mic, I don't see why it wouldn't work.

Anyway, thank you for your great work! I'll be closing this one.

[2019-09-08 14:49] #20 closed

[2019-09-08 20:05] aymanbagabas commented on #19
@jannis3005 I sort of see the problem now.

Nothing wrong with the driver, the issue is that the keyboard is connected through USB as you can see in [this comment](https://github.com/aymanbagabas/Huawei-WMI/issues/19#issuecomment-527003094) `lsusb -v` `Bus 001 Device 002: ID 12d1:1097 Huawei Technologies Co., Ltd.` That's the keyboard USB device.

Now, I want you to try `sudo evtest` with the devi

[2019-09-09 06:13] jannis3005 commented on #19
Hey,

i found the correct device, take a look

<details>
<summary>here</summary>
`No device specified, trying to scan all of /dev/input/event*
Available devices:
/dev/input/event0:      Lid Switch
/dev/input/event1:      Power Button
/dev/input/event2:      Power Button
/dev/input/event3:      AT Translated Set 2 keyboard
/dev/input/event4:      HOLTEK USB-HID KB MS
/dev/input/event5:      HOLTEK

[2019-09-09 23:12] aymanbagabas commented on #19
That's great news! Please try the attached file using the method described in the readme. Feel free to adjust it as you like. Refer to `/usr/include/linux/input-event-codes.h` and for more info [here](https://github.com/systemd/systemd/blob/master/hwdb/60-keyboard.hwdb).

Although it should hopefully work, I see from your output that F1-11 keys are being clicked. Are you sure Fn toggle is off? Tha

[2019-09-10 07:08] jannis3005 commented on #19
It seems to be a bit more complicated. The device listet as device 4 seems to be responsible for the monitor key, as well as print and paste. device 6 seems to be responsible for brightness up and down.

Though, Device 6 seems to report brightness down for both brightness down and up and the fn key.

as for device 5, it shows events for key_mute key_volumeup and down and a whole bunch of other stu

[2019-09-10 07:19] jannis3005 commented on #19
<details>
<summary>Here's the Ouput of event6 pressing all keys, with the ouput caused by brightness_down and brightness_up</summary>

[code]
</details>

[2019-09-10 07:47] jannis3005 commented on #19
Maybe some more details that i found out:

event4 seems to receive events for every key on the keyboard, EXCEPT:
FN-Key
Brightness-Down
Brightness-UP
Keyboard-Brightness
Mute
Volume-DOWN
Volume-UP
Mic-MUTE
WIFI
SETUP

However, it does receive events when pressing f1-f12, as well as screenmirrormodetoggle or hoewver that is called, and also for print and paste. The screenmirrormodetoggle event is r

[2019-09-13 22:05] aymanbagabas commented on #19
I'm interested in this. Please upload `sudo evtest` output after pressing all special keys.

[2019-09-14 10:33] n3vu0r opened #21 "BAT1 instead of BAT0 on Matebook D 14" AMD (KPL-W0X)"
Hi, I'm on a Matebook D 14" AMD `KPL-W0X` and tried the latest master branch of this driver with kernel `5.2.14` and the driver fails to register the battery extension:

[code]

The driver checks against `BAT0`, but I'm having a `BAT1` instead.

[code]

I've changed `BAT0` to `BAT1` in line 438 of `huawei-wmi.c` and it seems to work then.

[2019-09-14 14:52] aymanbagabas commented on #21
That's strange, you should have a `BAT0` in your system this might indicate an ACPI detection error. Do you get any error messages in your dmesg? `dmesg|grep -i acpi`. Huawei laptops come with one battery only, that's why the battery extension fails. Do you use any `acpi` module parameters? i.e. `acpi_osi` in your cmdline? Sometimes this causes ACPI weirdness. Check out [this](https://www.linuxque

[2019-09-14 16:55] aymanbagabas commented on #21
I might change it to have both battery hooks and sysfs `charge_control_thresholds` under `/sys/devices/platform/huawei-wmi`. Although the issue you’re having is not driver related, first detected battery should be named `BAT0` so it’s a kernel or other module problem that should be investigated more.

[2019-09-14 17:21] n3vu0r commented on #21
My command line parameters are:

[code]
Mainly to fix some IOMMU errors. I'm not sure if ACPI is working correctly:

[code]

[2019-09-14 18:03] aymanbagabas commented on #21
Maybe try it without ` acpi_backlight=vendor acpi_enforce_resources=lax`

[2019-09-14 18:37] n3vu0r commented on #21
It makes no difference, it's still at battery slot `BAT1`.

 All the entries in `/sys/class/power_supply/BAT1/` are working. The BIOS is the latest version 1.22.

[2019-09-14 21:04] aymanbagabas commented on #21
Hey, I've updated `master` branch to reflect this issue. I've also added back the attribute under `/sys/devices/platform/huawei-wmi` as `charge_control_thresholds`.

@nekr0z you might wanna add that to your `matebook-applet`. Basically to detect all of `/sys/class/power_supply/BATn/charge_control_{start,end}_threshold`, `/sys/devices/platform/huawei-wmi/charge_thresholds` (for older versions maybe

[2019-09-14 22:00] nekr0z commented on #21
Will do. I actually did a big refactor this week for these kind of things to easily be made possible, so should be done by Tuesday, if not tomorrow. Right now, the applet scans for available endpoints in `/sys/class/power_supply/BAT0/charge_control_{start,end}_threshold`, `/sys/devices/platform/huawei-wmi/charge_thresholds` and, as a last resort, looks for a script (in that order). I'll add the sc

[2019-09-15 16:14] nekr0z commented on #21
Ok, applet v2.1.2 is out with support for all the aforementioned variants of thresholds location. :-) I must admit I only did a very limited amount of testing, so if anyone sees undesired behaviour and files a bug, that would be most welcome.
The applet is supposed to find whatever the endpoint location is and use it automatically. If the found endpoint happens to be read-only, the applet is suppo

[2019-09-16 06:59] jannis3005 commented on #19
Sorry for the late response, here are the outputs:

<details>
<summary><code>sudo evtest</code></summary>

[code]

</details>

<details>
<summary><code>usbhid-dump --entitiy=all model=12d1</code></summary>

[code]
</details>

<details>
<summary><code>lsmod</code></summary>

[code]
</details>

[2019-09-16 07:01] jannis3005 commented on #19
For usbhid-dump the key order pressed is: fn-key > brighness-down > brightness-up > Keyboard brightness > ... > WIFI > Setup > print > paste

[2019-09-16 10:48] n3vu0r commented on #21
Great, thank you! The updated driver works. I have now the files `/sys/class/power_supply/BAT1/charge_control_{start,end}_threshold` and `/sys/devices/platform/huawei-wmi/charge_control_thresholds`.

Since you've added back the combined file, I'm wondering which is now the preferred way to set thresholds? I assume it's the new battery API but I remember there were some quirks for some Huawei model

[2019-09-16 11:37] nekr0z commented on #21
While you're at it, I've noticed a funny thing while working on the applet. My model (MB13 2019) wouldn't allow min threshold to be equal or greater than max. This makes it impossible, for example, to go from `40 70` to `70 90` if you're trying to set min before max.
I must admit I opted for a quick and dirty solution: in case the applet deals with two-file endpoint (as opposed to the old behaviou

[2019-09-16 22:44] aymanbagabas commented on #21
Well the way this works is through the WMI api that Huawei provides in the laptops's bios ASL/ACPI code. So it goes OS/Linux -> ACPI/WMI -> EC (hardware level).

The way this WMI function is implemented is to take a low and high value. So my workaround on using the charge control api was to get the currently set values then use that to fill other missing value needed by that function.

Setting min

[2019-09-16 22:49] aymanbagabas commented on #21
You know what, now that I though about this, I think `start > end` is wrong.

Let's say you set `40-70` and now you want to set `10-30`. If you use the the two-file endpoint you'd have to set `start` to 10 so it becomes `10-70` and then set `end` to 30 so it's `10-30`. Now if you wanna go the other way, say from `10-30` to `40-70` you'd have to do `end` => 70 and then `start` => 40. Otherwise, it

[2019-09-16 22:57] aymanbagabas commented on #21
Done! `start > end` check removed.
@n3vu0r feel free to close this if you think it's solved.

[2019-09-16 23:07] aymanbagabas commented on #19
Just to be clear, when you say fn-key, do you mean fn key was toggled on? LED is on? Because that would produce F1-F12 keys to my knowledge.

[2019-09-17 03:08] jannis3005 commented on #19
No for sure it wasn't on

[2019-09-17 08:21] nekr0z commented on #21
Hmm... Does this mean we'd better do this check ourselves? Or leave it to WMI/EC to figure this out? The laptops aren't supposed to start exploding when fed insane values, are they?

I'm only asking because I'm thinking of a way to implement setting custom thresholds in the applet. ;)

[2019-09-17 10:03] n3vu0r commented on #21
I understand. So removing this check makes things much easier. You no longer have to figure out which threshold to set first and cannot run into the pitfall of having the driver to (partially) ignore your thresholds because it considered them invalid.

This works if the ACPI/WMI passes both thresholds to EC without any checks and the EC ignores the new thresholds until a valid combination `end >=

[2019-09-17 13:58] aymanbagabas commented on #21
Well, `start < 0` and `end > 100` are still there and would return invalid. I guess for the applet, you can check if `start > end` and give an error when that happens. If a user uses the endpoints directly, then they better know they are poking with the system/kernel because it's under `/sys`. Always assume the user is dumb when doing GUI stuff.

[2019-09-17 14:00] nekr0z commented on #21
True. Although in my book there should be no capital "G" in this phrase. ;-)

[2019-09-17 17:04] aymanbagabas commented on #21
I guess that's true, see my book is old and outdated xD

[2019-09-18 09:50] n3vu0r commented on #21
Ok then :D Checks are done in _UI and all seems to be addressed. I'm closing it, thank you!

[2019-09-18 09:50] #21 closed

[2019-10-09 08:10] wiliamwalace opened #22 "Only the Developing Version (>3.2) works for HUAWEI Matebook 14 (KLV-WX9)"
**Is your feature request related to a problem? Please describe.**

I have openSUSE Tumbleweed with kernel 5.3.2 running on my Matebook 14 (KLV-WX9). A Huawei-WMI driver is shipped with the kernel that enables the Fn keys (Thanks a lot!). But there is still frustrations that the directory for battery protection `/sys/devices/platform/huawei-wmi` never existed and the micmute LED was always off. Th

[2019-10-09 13:26] aymanbagabas commented on #22
The driver's version that is shipped with the kernel is version `v2.0` which doesn't have battery protection, micmute led, and other features.

The new changes finally got accepted in the upcoming kernel release, you should expect to see these changes shipped with the kernel soon. [Link](https://patchwork.kernel.org/project/platform-driver-x86/list/?series=177803&archive=both&state=*)

[2019-10-09 13:26] #22 closed

[2019-10-27 00:38] alexlance opened #23 "Support for fingerprint reader"
Feel free to close this issue immediately if it's not feasible or within the scope of this project etc...

But wow it would be nice if the fingerprint reader worked under linux.

I read somewhere that Huawei were going to release their own Linux on Matebooks*. I wonder if that means they will release the drivers for the fingerprint reader too.

*https://www.techradar.com/news/huawei-matebook-lapto

[2019-10-27 01:14] dimon222 commented on #23
Sadly, they didn't include fingerprint driver in it (yeah its stupid).
Confirmation from some reddit user:
https://www.reddit.com/r/MatebookXPro/comments/d2zqdr/does_this_mean_a_possibilty_of_getting_the/ezxz6ci

[2019-10-27 01:34] alexlance commented on #23
Ah ok. That makes no sense.
Thanks for checking :+1:

[2019-10-27 01:56] aymanbagabas commented on #23
I'd love to see that working on my laptop. I heard they're gonna be using Deepin OS for their Linux distribution, I don't think they'll do their "own" distribution.

This issue is beyond the scope of this project since it lives in user-space (not kernel related). Let's move the discussion to [this](https://gitlab.freedesktop.org/libfprint/libfprint/issues/112). Note that with kernel 5.3, the syste

[2019-10-28 23:25] aymanbagabas commented on #23
Closing.

[2019-10-28 23:25] #23 closed

[2019-11-05 17:08] rien333 commented on #12
Note [this AUR package](https://aur.archlinux.org/packages/huawei-wmi-dkms/) seems to work fine. (maybe mention it in the readme?)

[2019-11-14 01:53] codeitlikemiley commented on #10
is there a way we can bind other keys to f10 , its being registered as Super+p
I have other key bindings for Super P and i wanna use this f10 key by huawei for activating and deactivating my keyboard since only f1-12 works when disabling my keyboard that goes with all the huawei fb keys...
please let me know if i can bind it to other keys thanks

[2019-11-14 02:54] aymanbagabas commented on #10
@codeitlikemiley F10 should map to `XF86Tools` and yes you can remap it using anything i.e. `xmodmap`. Unfortunately, the F8 key (display switch) cannot be remapped.

[2019-11-14 04:16] codeitlikemiley commented on #10
Yeah I just resorted to remapping f10 instead of f8...  And remap the old
keys to another one.
I really need this f8 or f10 since that's the only keys not being disabled
when I disabled keyboard except of course the key brightness and screen...
Anyway thanks for reply

On Thu, 14 Nov 2019, 10:54 Ayman Bagabas, <notifications@github.com> wrote:

[2019-12-13 18:26] goldcoders commented on #13
HI im having issue also
uname -r = 5.3.0-22-generic
[code]
 im positive ive installed huawei-wmi
[code]

when i try to run matebook-applet it gives me this error

[code]

[2019-12-13 18:54] aymanbagabas commented on #13
@goldcoders What's your `lsmod|grep wmi` output? If you have problems with `matebook-applet` please head to that repo to submit tickets. The deb package doesn't seem to be the same one from this repo, please use the correct deb package.

[2019-12-13 19:09] goldcoders commented on #13
[code]

[2019-12-13 19:26] goldcoders opened #24 "No battery protection path"
i already did try to install it

[code]
installation is fine but i dont have the path specified  on the readme

[code]

both of this path i dont have it...

any thing that can help me please thanks
i see someone also facing issue like this

i paste some commands output of my system

[code]

[code]

[code]

[2019-12-13 19:40] goldcoders commented on #24
i forgot to reboot , after i reboot the path is there , you should put that on documentation im sure others will ask about this again thanks

[2019-12-13 19:42] aymanbagabas commented on #24
Glad it worked. I should update the readme sometime soon. Thank you.

[2019-12-13 19:42] #24 closed

[2019-12-22 14:17] edoardomazzella opened #26 "I cannot run Matebook applet"
Hi,
i downloaded and installed Huawei-WMI and all the stuff seems to work. However i do not see the matebook applet available.
In the README.md of matebook-applet repo the following sentences are written:
"Starting with version 1.2 the best way to get the matebook-applet working is to install Huawei-WMI driver by Ayman Bagabas."
"After installing the driver you may start using the matebook-applet

[2019-12-22 15:07] nekr0z commented on #26
Yes, you need to download/install `matebook-applet` itself. :)

That sentence you've quoted basically means there's no need for additional setup: you just install the driver, install matebook-applet, and there you go, no need to tweak up the system and get your hands dirty. I might need to rephrase that to make it more clear.

[2019-12-22 16:34] edoardomazzella commented on #26
thank you

[2019-12-22 17:25] validatedev opened #27 "Micmute LED Doesn't Work on Fedora 31"
**Describe the bug**
It was working on Ubuntu 19.10 with Huawei-WMI 3.2, but cannot reproduce the feature anymore on Huawei Matebook 13

**To Reproduce**
Steps to reproduce the behavior:
Install the Huawei-WMI 3.2 (dnf method or dkms)
Micmute LED doesn't work

**Expected behavior**
Micmute LED should work

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (ple

[2019-12-22 23:12] aymanbagabas commented on #27
Please try `v3.3` and reboot. Thank you!

[2019-12-23 03:36] aymanbagabas commented on #27
I found the issue. I'm having the same thing. It's DKMS not updating the new module with the one from the kernel. This results in loading the *old* module from the kernel and you can verify that if you see your distro key running `modinfo huawei-wmi` after installing this module.

You could build it manually and move it to `/lib/modules/$(uname -r)/updates/`.

[2019-12-23 06:10] validatedev commented on #27
Build from source works! Thanks for your attention.

[2019-12-23 06:10] #27 closed

[2019-12-23 22:39] validatedev opened #28 "Micmute button doesn't work at Ubuntu 18.04 on Huawei Matebook 13"
**Describe the bug**
Cannot able to get work Micmute button on Ubuntu 18.04 on Huawei Matebook 13. Tried the latest WMI 3.3 with every installation method, but no luck.

**To Reproduce**
Press Micmute button

**Expected behavior**
Should work

**Desktop (please complete the following information):**
 - Kernel [e.g. 5.2.9-200.fc30.x86_64] `5.0.0-37-generic #40~18.04.1-Ubuntu`
 - Distro [e.g. Ubuntu

[2019-12-24 01:53] aymanbagabas commented on #28
Can you try v3.2 on that kernel?

On Mon, Dec 23, 2019, 5:39 PM Mert Demir <notifications@github.com> wrote:

[2019-12-24 01:59] BigBossAnwer opened #29 "3.3 release breaks access to charge thresholds, fn_lock on 18.04"
**Describe the bug**
Just updated version 3.2 to 3.3, and I no longer have access to the charge threshold control files (```/sys/class/power_supply/BAT0/charge_control_{start,end}_threshold```, and ```/sys/devices/platform/huawei-wmi/charge_control_thresholds```), as well as no access to the fn_lock control file at ```/sys/devices/platform/huawei-wmi/fn_lock_state```:

[code]

While on version 3.2

[2019-12-24 03:14] aymanbagabas commented on #29
Can you please try https://github.com/aymanbagabas/Huawei-WMI/tree/fix-v3.3

[2019-12-24 06:25] validatedev commented on #28
Didn't fix.
evtest:
`Event: time 1577168617.347599, type 4 (EV_MSC), code 4 (MSC_SCAN), value 287
Event: time 1577168617.347599, type 1 (EV_KEY), code 248 (KEY_MICMUTE), value 1
Event: time 1577168617.347599, -------------- SYN_REPORT ------------
Event: time 1577168617.347649, type 1 (EV_KEY), code 248 (KEY_MICMUTE), value 0
Event: time 1577168617.347649, -------------- SYN_REPORT ------------
Ev

[2019-12-24 07:59] aymanbagabas commented on #28
What's your `modinfo huawei-wmi`? Did you place your compiled `fix-v3.3` `.ko` file under `/lib/modules/$(uname -r)/updates/`? Reboot?

[2019-12-24 08:18] validatedev commented on #28
`
filename:       /lib/modules/5.0.0-37-generic/updates/huawei-wmi.ko
license:        GPL v2
description:    Huawei WMI laptop extras driver
author:         Ayman Bagabas <ayman.bagabas@gmail.com>
alias:          wmi:ABBC0F5B-8EA1-11D1-A000-C90629100000
srcversion:     527F74F63D3290F53B1A376
depends:        ledtrig-audio,wmi,sparse-keymap
retpoline:      Y
name:           huawei_wmi
vermagic:

[2019-12-24 20:07] aymanbagabas commented on #28
Can you run `ls /sys/devices/platform/huawei-wmi`

[2019-12-24 20:35] validatedev commented on #28
`
charge_control_thresholds  driver_override  input  modalias  subsystem
driver                     fn_lock_state    leds   power     uevent
`

[2019-12-24 21:38] BigBossAnwer commented on #29
**Success!**
Looks like the null pointer fix was on the money. On fix-v3.3, it looks like all battery charge protection and fn_lock functionality has returned and the control files exists / are writable:
![image](https://user-images.githubusercontent.com/27834073/71425373-97e0d980-2661-11ea-83fd-970671820c3a.png)

**Install**
 Installed using build from source as described in the readme:
1. Kernel

[2019-12-24 22:28] aymanbagabas commented on #28
What about `ls /sys/devices/platform/huawei-wmi/leds`, also what happens on these two:
[code]

[2019-12-24 23:09] aymanbagabas commented on #28
Can you please test `fix-v3.3` again? I've updated the branch.

[2019-12-25 06:59] validatedev commented on #28
Well, `xdotool key XF86AudioMicMute` works. I tried the updated branch but nothing has changed.

[2019-12-25 13:06] validatedev opened #30 "Keyboard Backlight Preference is Resetting When Reboot or Shutdown"
**Describe the bug**
I usually disable the keyboard backlight for battery consuming purposes. But after rebooting or shutdown-booting the PC, my keyboard backlight preference resets all time. Huawei Matebook 13 - Ubuntu 18.04.3 LTS.

**To Reproduce**
Steps to reproduce the behavior:
1. Disable the keyboard backlight
2. Reboot

**Expected behavior**
Keyboard backlight should retain its value

**Des

[2019-12-25 13:23] validatedev commented on #30
When try to install fix-3.3 again because of the downgrading the kernel:
[err.txt](https://github.com/aymanbagabas/Huawei-WMI/files/4000481/err.txt)

There looks like some errors.

[2019-12-25 13:49] mircoianese opened #31 "Huawei-WMI Driver not installed - But it is."
Hello, I have a 2018 Matebook X Pro with Elementary OS installed. I've installed Huawei-WMI using dkms and matebook-applet (by adding the apt repository).

When I try to start matebook-applet from terminal I get:

`ERROR: 2019/12/25 14:46:14 main.go:91: Neither a supported version of Huawei-WMI driver, nor any of the required scripts are properly installed, see README.md#installation-and-setup for

[2019-12-25 13:51] nekr0z commented on #31
Try running `matebook-applet -vv` for more information. Also, after installing the driver did you make sure the driver loaded correctly (manually or during a reboot)?

[2019-12-25 17:28] aymanbagabas commented on #28
@validatedev I've updated `fix-v3.3` AGAIN! Sorry to put you through all this, I think I messed up and since v3.3 is now included in 5.5 we have to fix this ASAP. Can you please test the update and include a dmesg log. You can do `sudo rmmod huawei_wmi` then `make clean && make` and finally `sudo insmod huawei-wmi.ko` so you don't have to reboot.

[2019-12-25 17:32] aymanbagabas commented on #29
Hey, I've updated `fix-v3.3` branch. Could you please verify that it's working and provide a dmesg log? This is critical since v3.3 is part of kernel 5.5 and if this is causing a bug we have to fix it asap. I just wanna verify that my fix works. Thank you!

[2019-12-25 17:33] aymanbagabas commented on #31
Can you please try the `fix-v3.3` branch and install it manually?

[2019-12-25 17:38] aymanbagabas commented on #30
This is because Ubuntu uses signed modules and you're compiling this module out-of-tree. Thus, you're getting SSL errors but has nothing to do with the build, it builds fine and generates `huawei-wmi.ko`.

[2019-12-25 17:38] #30 closed

[2019-12-25 17:38] validatedev commented on #28
Well, still doesn't work but I don't know the problem whether on the Ubuntu's side or driver's. Because `xdotool key XF86AudioMicMute` works flawlessly, including LED.

[2019-12-25 17:41] aymanbagabas commented on #28
You're probably missing the micmute key remap. Checkout the readme. And if you could upload a dmesg log that'd be so much help.

[2019-12-25 17:41] validatedev commented on #28
dmesg:
[dmesg4.txt](https://github.com/aymanbagabas/Huawei-WMI/files/4000699/dmesg4.txt)

[2019-12-25 17:45] validatedev commented on #28
Good news! Your keymap fix has worked! And your last fix also fixed the micmute LED. Thanks for all your effort!

[2019-12-25 17:53] #28 closed

[2019-12-25 18:41] validatedev commented on #30
Interestingly, after upgrading the kernel 5.0.2x to 5.0.3x (they are HWE kernels) and apply your v3.3 fix, it recognizes the state.

[2019-12-25 21:43] BigBossAnwer commented on #29
All functionality continues to function on the current ```fix-v3.3``` branch.
*Install*:
![Install fix-v3.3-2](https://user-images.githubusercontent.com/27834073/71450725-f0c97400-272c-11ea-85fa-068acb24e183.png)
*Functionality*:
![Functionality fix-v3.3-2](https://user-images.githubusercontent.com/27834073/71450734-12c2f680-272d-11ea-8e9d-b10a17dbebfb.png)
*Dmesg log*:
[dmesg3.3-2.txt](https://gi

[2019-12-25 22:41] aymanbagabas commented on #29
Thank you!

[2019-12-25 22:41] #29 closed

[2019-12-26 20:25] aymanbagabas commented on #29
I've released v3.4. I'd love if you can test it and provide a dmesg log.

[2019-12-26 20:26] aymanbagabas commented on #28
Can you test v3.4 and provide a dmesg log?

[2019-12-26 20:32] aymanbagabas commented on #26
Can you please try v3.4 and provide a dmesg log?

[2019-12-27 00:26] BigBossAnwer commented on #29
## Lack of Access / Functionality in 3.4 release

**Describe the bug**
Updated version 3.4, and I no longer have access to the charge threshold control files (```/sys/class/power_supply/BAT0/charge_control_{start,end}_threshold```, and ```/sys/devices/platform/huawei-wmi/charge_control_thresholds```), as well as no access to the fn_lock control file at ```/sys/devices/platform/huawei-wmi/fn_lock_s

[2019-12-27 03:46] BigBossAnwer commented on #29
## Fixed with merge of master with fix-v3.3/huawei-wmi.c

Poked around the diff between master and fix-v3.3 and noticed the null pointer issue might still be there (fix-v3.3 on left, current 3.4 master on right):
![image](https://user-images.githubusercontent.com/27834073/71499549-9ad8f700-2826-11ea-8708-2353969cd313.png)

Merged those two line changes and built from source / installed. All contro

[2019-12-27 03:51] aymanbagabas commented on #29
Just use `v3.2`. This is happening because in kernel 5.0, the `struct wmi_device_id` has a pointer initialized to NULL by default. So when dereferencing that, it causes an error. Kernel 5.1 and above use a fixed-size string so dereferencing that would give a zero not a NULL pointer dereference error.

[2019-12-27 04:30] BigBossAnwer commented on #29
Sure thing! Thank you again for the work you've done here.

Just curious, what was the functionality change that resulted from using the battery charge api in 3.3?

[2019-12-27 05:01] aymanbagabas commented on #29
This way it's more standard and follows the kernel api instead of creating an arbitrary module attribute like the one in v3.2. The next task would be to use something like TLP to control this. You can see that they already have a working one [here](https://linrunner.de/en/tlp/docs/tlp-linux-advanced-power-management.html#thresholds) but it's only for ThinkPads (not sure, haven't tested it). You co

[2019-12-27 06:32] validatedev commented on #28
Right now I'm on the Ubuntu 20.04 with kernel 5.0.37-HWE-18.04 because of the bug between kernel 5.0 and 5.5, I used the one-time dkms install method and micmute LED doesn't work atm.
[dmesg.txt](https://github.com/aymanbagabas/Huawei-WMI/files/4004455/dmesg.txt)

[2019-12-27 13:17] validatedev commented on #28
@aymanbagabas could you look at there when you have time please?

[2019-12-27 14:02] aymanbagabas commented on #28
Please use v3.2 if you're using kernel 5.0. I've updated the readme. Thank
you

On Fri, Dec 27, 2019, 8:17 AM Mert Demir <notifications@github.com> wrote:

[2019-12-27 14:09] validatedev commented on #28
Yeah I can confirm that LED works without any issue with 3.2. Thank you too!

[2019-12-28 10:25] edoardomazzella commented on #26
Hi, currently I uninstalled linux on my pc, i'll try as soon as possible.

[2019-12-29 08:55] RuSern opened #32 "Charge_control thresholds not found"
**Describe the bug**
Hi, I have installed Ubuntu 18.04 on my Matebook 13. I followed your instructions and installed the v3.2 driver. However, after installation I cannot find the "sys/class/power_supply/BAT0/charge_control_{start,end}_threshold or /sys/devices/platform/huawei-wmi/charge_control_thresholds" files for controlling the thresholds. I tried then to upgrade to Ubuntu 19.10 to use the v3

[2019-12-29 12:17] RuSern commented on #32
I saw there was a previous issue similar that was similar to mine, and it was  solved by rebooting. However, I have also tried that but it doesnt seem to solve my problem

[2019-12-29 12:38] aymanbagabas commented on #32
There is a bug with DKMS > 2.6 where it doesn't update modules that already
exist in the kernel. Please try manual installation.

On Sun, Dec 29, 2019, 7:17 AM RuSern <notifications@github.com> wrote:

[2019-12-29 12:47] RuSern commented on #32
I tried to build it from source using your instructions:
git clone https://github.com/aymanbagabas/Huawei-WMI
cd Huawei-WMI
make
# To update use:
sudo cp huawei-wmi.ko /lib/modules/$(uname -r)/updates/
sudo depmod
# To install use:
sudo make install

When I ran sudo make install, this is the error message that returned:
make -C /lib/modules/5.3.0-24-generic/build/ M=/home/rusern/Huawei-WMI modules

[2019-12-29 12:50] aymanbagabas commented on #32
That's a SSL error, shouldn't affect anything. Did you reboot?

On Sun, Dec 29, 2019, 7:47 AM RuSern <notifications@github.com> wrote:

[2019-12-29 12:56] RuSern commented on #32
Oh sorry.
I rebooted my device, but I still dont see the files in the stated location.

![Screenshot from 2019-12-29 20-53-23](https://user-images.githubusercontent.com/52378783/71557183-90646a80-2a7d-11ea-860d-94915e53bbef.png)

![Screenshot from 2019-12-29 20-54-01](https://user-images.githubusercontent.com/52378783/71557188-9c502c80-2a7d-11ea-9d28-b37e97c16253.png)

[2019-12-29 21:06] nekr0z commented on #32
What's the output of `lsmod | grep wmi` now that you've installed the driver manually and rebooted?

[2019-12-30 14:56] RuSern commented on #32
Hi, this is what I got:
![lsmod](https://user-images.githubusercontent.com/52378783/71587161-9e86b980-2b57-11ea-928f-7a37370d8df9.png)

[2019-12-30 14:57] RuSern commented on #32
Hi, this is what I got:

lsmod | grep wmi
snd_rawmidi            36864  1 snd_seq_midi
snd_seq_device         16384  3 snd_seq,snd_seq_midi,snd_rawmidi
mxm_wmi                16384  1 nouveau
snd                    86016  19 snd_hda_codec_generic,snd_seq,snd_seq_device,snd_hda_codec_hdmi,snd_hwdep,snd_hda_intel,snd_hda_codec,snd_hda_codec_realtek,snd_timer,snd_compress,snd_soc_core,snd_pcm,snd_raw

[2020-01-11 08:48] zypangpang opened #33 "Mic mute led does not work on Matebook 14."
I manually compiled and installed. The battery charge threshold works perfectly, but the mic mute led does not work. I don' t think this is a problem of your driver, because it works in Arch.  I suspect it is caused by not loading right drivers in kernel, since I use gentoo with self configured and compiled kernel. I thought it needed the LED driver, then I enabled all kernel LED drivers but with

[2020-01-11 13:20] aymanbagabas commented on #33
The driver doesn't depend on any LED driver, hence the name `platform::micmute`, it uses ACPI WMI to control the LED and then uses `ledtrig_audio` to hook it up with ALSA. However, I will look more into this log. Meanwhile, could you please provide a dmesg log with the issue.

Do you have `/sys/devices/platform/huawei-wmi/leds/platform::micmute` in your system? Can you control the LED by writing t

[2020-01-11 13:24] aymanbagabas commented on #33
Aha I don't see any codecs in your Gento lsmod. Realtek sound codecs are used to enable the `ledtrig_audio`. Taken from your Arch lsmod `snd_hda_codec_generic,huawei_wmi,snd_hda_codec_realtek`. Make sure you have enabled sound. The LED should work though but not through ALSA. You should be able to turn it on/off manually.

[2020-01-12 02:57] zypangpang commented on #33
Thanks! I got it worked today. I tweaked a little in my kernel config.  Previously I built the codecs in the kernel. Now I build it as a module. Then the led works. I also changed some other settings in kernel config, but I think building the codecs as modules solved the problem. :)

[2020-01-12 03:37] aymanbagabas commented on #33
Glad to hear that

[2020-01-12 03:37] #33 closed

[2020-01-21 10:00] jannis3005 commented on #19
@aymanbagabas are you still interested in trying to solve this?

[2020-01-21 10:13] jannis3005 commented on #9
@aymanbagabas sorry, i didnt see that you also added the matebook-e label here. Can i still help with this issue?

[2020-01-23 16:08] aymanbagabas commented on #9
Yes, the Matebook E has the same interface. However, unlike the Matebook X, keyboard keys are not handled through this WMI interface, it uses USBHID instead.

You can see from the files attached that the WMI event handler has the same guid that the Matebook X has `39142400-C6A3-40fa-BADB-8A2652834100`.

<details>
<summary>MBE WMI mof</summary>

[code]

</details>

<details>
<summary>MBE WMI decode

[2020-01-23 17:49] aymanbagabas commented on #19
You know what, this seems interesting. Now that I've seen [this](https://eleccelerator.com/usbdescreqparser/) tool, this should be very trivial (ofc after doing some more reading about USB HID). If you'd be willing to help in building this I'd be happy to work on it.

<details>
<summary>001:002:003:DESCRIPTOR</summary>

[code]

</details>

<details>
<summary>001:002:002:DESCRIPTOR</summary>

[code

[2020-01-23 17:53] #26 closed

[2020-01-23 17:55] aymanbagabas commented on #32
The driver is clearly not loaded. Closing.

[2020-01-23 17:55] #32 closed

[2020-01-23 17:56] aymanbagabas commented on #31
Closing for being idle.

[2020-01-23 17:56] #31 closed

[2020-01-23 18:17] aymanbagabas commented on #19
Can you run `usbhid-dump` again, press all special keys, and attach that here? So basically, a `STREAM` is the data coming from the usb device. We need to translate them to key presses (though I'm not yet sure how).

[2020-01-23 19:43] jannis3005 commented on #19
<details>
<summary><code>usbhid-dump</code></summary>
[code]

[2020-01-23 20:35] aymanbagabas commented on #19
Cool, now we gotta figure out how to translate these data to the input sub-system. Needs some research :) I still don't know if this necessarily *needs* a kernel driver or if it can be done in user-space.

[hid-holtek-kbd](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/drivers/hid/hid-holtek-kbd.c?h=v5.5-rc7) this, for example, changes the device descriptor because it's fa

[2020-01-23 20:43] jannis3005 commented on #19
Sure. Ill search whenever i've got some spare time :)

Yours sincerely

Jannis Göing

jannis-goeing.com/ <https://www.jannis-goeing.com/>

P.s. BTW I am using Arch ;)

P.p.s. You can also reach me encryptet with PGP - Public key
<https://www.jannis-goeing.de/files/jannis3005@gmail.asc> or Public Key
<https://flowcrypt.com/pub/jannis3005@gmail.com> or through FlowCrypt
<https://flowcrypt.com/me/jan

[2020-01-24 04:11] aymanbagabas commented on #19
Alright, I might've found something. [This](https://eleccelerator.com/tutorial-about-usb-hid-report-descriptors/) tutorial explains how these descriptors work. First, we have 4 `usbhid` devices defined by the usb hub, each has its own descriptor. If you look at your `lsusb` dump, you can see that it defines 4 interfaces numbered from 0..3. Now looking at the `dmesg` log you provided, we can see th

[2020-01-24 05:19] jannis3005 commented on #19
Okay, that sounds pretty solid and looking at hid-holtek-kbd, also looks doable, even considering that I know almost nothing about kernel drivers

[2020-01-24 08:33] aymanbagabas commented on #19
https://github.com/torvalds/linux/blob/master/drivers/hid/usbhid/hid-core.c#L67

This might be easier :)

On Fri, Jan 24, 2020, 12:19 AM Jannis Göing <notifications@github.com>
wrote:

[2020-01-24 08:50] jannis3005 commented on #19
So this means we just give the USB HID Core Driver some Params?

[2020-01-24 09:19] aymanbagabas commented on #19
Yes, you are right. You'd pass the fixed descriptors as parameters. My
concern is how LEDs would work in this case.

On Fri, Jan 24, 2020, 3:51 AM Jannis Göing <notifications@github.com> wrote:

[2020-01-24 09:44] jannis3005 commented on #19
I'd suggest we look into getting the Buttons working at all first because
that's the most important part and would make the most difference. The
FN-LED works already. It Would just be the Microphone-LED we'd have to
worry about afterwards.
I could try and find out though, just have to find out how to find out
first ;) :D

[2020-01-24 16:23] aymanbagabas commented on #19
<details>
<summary>Fixed descriptor</summary>

[code]

</details>

Try
[code]

or

[code]

not sure how this works.

[2020-01-24 16:55] jannis3005 commented on #19
Do you know where I put it?

[2020-01-24 17:16] aymanbagabas commented on #19
Put it in `/etc/modprobe.d/usbhid.conf`

[code]

[2020-01-24 17:17] jannis3005 commented on #19
i tried in cmdline usbhid.quirks=... with the first one, the entire keyboard stopped working, with the second one it was like before

[2020-01-24 17:24] jannis3005 commented on #19
For the first one:

<details>
<summary>dmesg</summary>

[code]
</details>

<details>
<summary>evtest event6</summary>

[code]

</details>

[2020-01-24 17:28] jannis3005 commented on #19
For the second one:

<details>
<summary>dmsg</summary>

[code]

</details>

<details>
<summary>evtest event6</summary>

[code]

[2020-01-24 17:36] jannis3005 commented on #19
I'll try and add that file to initframs

[2020-01-24 17:45] jannis3005 commented on #19
The first one breaks the entire keyboard and touchpad except for the FN-Toggle and Backlight & Backlight Toggle. Ill have to boot from live-usb and remove the quirks to be able to continue.

[2020-01-24 17:57] aymanbagabas commented on #19
No need just override the modprobe during boot with GRUB https://wiki.archlinux.org/index.php/Kernel_module#Using_kernel_command_line set it back to `usbhid.quirks=`

[2020-01-24 18:20] aymanbagabas commented on #19
Try this
[hid-huawei-1.zip](https://github.com/aymanbagabas/Huawei-WMI/files/4109969/hid-huawei-1.zip)
[code]

[2020-01-25 09:04] jannis3005 commented on #19
<details>
<summary>dmesg</sumarry>

[code]

</details>

I cannot provide `evtest` of event6, since after `insmod` it is gone

[code]

[2020-01-25 12:15] aymanbagabas commented on #19
I just wanna see if it changes anything for `event4` and `event5` (`HOLTEK USB-HID KB MS`) as what dmesg states after insmod.

[2020-01-25 12:41] jannis3005 commented on #19
Okay, here you go:

<details>
<summary>'sudo evtest event4'</summary>

[code]

</details>

<details>
<summary>`sudo evtest event5`</summary>

[code]

</details>

The Brightness-Down Event in Event5 comes from the FN-Key which still acts as Brightness down, however the Brightness-Keys that both workes as Brightness down before now do nothing

[2020-06-12 18:35] Futureknows opened #34 "usermod: group 'huawei-wmi' does not exist"
Fedora 32. Installed Huawei-WMI (huawei-wmi-3.4-1dkms.noarch.rpm).
Installed the batpro script.
Reboot.
Trying to add user to group gives error:
`$ sudo usermod -a -G huawei-wmi user
usermod: group 'huawei-wmi' does not exist`

Running batpro status gives error:
`$ sudo batpro status`
`iopl: Operation not permitted
^Ciopl failed: You may need to run as root or give the process the CAP_SYS_RAWIO
ca

[2020-06-12 18:43] aymanbagabas commented on #34
You don't need a new user, you can use `sudo` instead. I don't think this is related to the driver, please refer to [matebook-applet](https://github.com/nekr0z/matebook-applet) and open a new issue there since this is an issue with `batpro`.

[2020-06-12 18:43] #34 closed

[2020-06-12 18:48] nekr0z commented on #34
You're missing a lot of things.

You're trying to use `batpro` on Linux Kernel >5.0, which is a bad idea. You're trying to add an user to work with `batpro` instead of properly using `sudo` as advised in the repository that holds `batpro`. You're confusing this repository that holds the driver with [Rouven's](https://github.com/qu1x/huawei-wmi) that holds the user/group/systemd things.

[2020-07-07 10:07] jeannich opened #35 "[Question _ not a bug] What is the expected behavior ?"
Hi,

_This is a question, not a bug report.
Kindly redirect me if there is another channel for such questions._

I have a MACH-WX9 (Matebook X Pro) and I am using Huawei-WMI 3.4 on Linux Mint 20.
Huawei-WMI seems to work correctly but the behavior is a bit strange to me so I am wondering if my laptop is behaving correctly or not.
I have setup those thresholds: min 40% and max 70%

Several cases:
-

[2020-07-07 13:43] aymanbagabas commented on #35
Your observation is correct. Mine have the same behavior. If the battery is below the thresholds, it charges until it reaches the high threshold. If the battery is within or above the thresholds, it stays that way and prevents the battery from dropping.

If I'm not mistaken, using the Windows 10 would give you the same behavior, meaning that's just how this feature works on a lower level.

[2020-07-07 16:02] jeannich commented on #35
Thanks @aymanbagabas, good to know that you have the same behavior and also to know that Windows is behaving the same.

Actually, is this behavior driven by the linux kernel/driver or is it decided by the battery itself?

If it is the battery that decides when and how to charge (based on the values sent by this Huawei-WMI driver of course), then it could be interesting to document observed behavio

[2020-07-09 19:12] aymanbagabas commented on #35
No, it's the battery itself.

I mean this project is not limited to the battery protection feature but it tries implements the whole Huawei ACPI interface. As far as the battery goes, that's just the default behavior of the battery which happens no matter what operating system you're running. I don't see the point of reaffirming the facts of this behavior, so thanks no need to. However, if you're

[2020-07-09 19:12] #35 closed

[2020-07-11 17:51] JeffR1992 opened #36 "Start and end thresholds getting reset"
I'm current using Ubuntu 18.04.4 LTS, and noticed that the values that I set in `/sys/class/power_supply/BAT0`, in the `charge_control_start_threshold` and `charge_control_end_threshold` files, are getting reset to 0 after rebooting my Matebook X Pro a few times. Is there a way to prevent this?

[2020-07-11 20:49] nekr0z commented on #36
This is expected, known behaviour of the chipset. Happens on Windows as well, Huawei PC Manager monitors that and re-instates the thresholds to what user had selected. Taking care of this is not the driver's job and can be easily handled in userspace. There's [a project](https://github.com/qu1x/huawei-wmi) for that.

[2020-07-12 21:25] JeffR1992 commented on #36
Thanks, decided to use chmod 444.

[2020-07-13 05:04] nekr0z commented on #36
That alone won't help against the issue you've described.

[2020-07-19 14:25] lolilolicon opened #37 "What's the meaning of start_threshold?"
First, thanks very much for implementing the battery protection feature. I can
confirm that it works on MateBook-14 ("Product": KLV-WX9). Well, at least the
end_threshold part, which happily prevents the battery from getting near 100%.

However, I'm confused what the start_threshold means. For, with the AC plugged
in, the battery gets charged up to the end_threshold, regardless of start_threshold.

[2020-08-12 15:50] german-rios-gonzalez opened #38 "Add keyboard backlight timeout as an option"
Hi, first of all thank you very much for this project, the effort and the great results, I came here because by default the keyboard backlight timeout it's about 15 seconds on my Matebook D14 2020, and currently I can't find a way to set the backlight always on, I don't have any knowledge about the kernel internals but I guess you can add this option on this project, this would be wonderful for pe

[2020-08-12 20:48] nekr0z commented on #38
Do you know for a fact that changing keyboard backlight timeout is at all possible on yout MateBook?

I don’t really know about D14, but at least for the MateBook 13 I own I know no way to tweak that on any operating system. I was actually under impression it wasn’t possible on any MateBooks.

(Originally published at: https://evgenykuznetsov.org/en/reactions/2020/matebook-keyb-backlight/)

[2020-08-12 21:40] german-rios-gonzalez commented on #38
Hi, @nekr0z I have the model NBL-WAQ9R Matebook D14 2020, the software that comes preinstalled with this laptop have the option to never turn off, I wiped out this operative system but this article that show what I'm talking about.

https://consumer.huawei.com/en/support/content/en-us00723328/#:~:text=Open%20PC%20Manager%2C%20click%20the,to%20turn%20on%20the%20backlight.

[2020-08-13 04:16] nekr0z commented on #38
Wow! I had no idea! @aymanbagabas, this is definitely worth looking into.

[2020-08-13 18:48] aymanbagabas commented on #38
Interesting! Could you please provide an ACPI dump?
https://01.org/linux-acpi/utilities

[2020-08-14 07:03] german-rios-gonzalez commented on #38
Hi, @aymanbagabas thanks for the link, I followed the instructions and I attached the zipped result file. (For the record I use Fedora as operative system)
[acpidump.zip](https://github.com/aymanbagabas/Huawei-WMI/files/5073040/acpidump.zip)

[2020-08-14 13:57] aymanbagabas commented on #38
This looks promising, these 2 methods 'looks' like the ones to get/set the keyboard backlight (assuming `KBBL` stands for KeyBoard BackLight). They appear in the HWMI interface in SSDT5 under 0x0602 and 0x0702.

[code]

Could you try these commands out and report the output
* `echo 0x000602 | sudo tee /sys/kernel/debug/huawei-wmi/arg`
* `sudo cat /sys/kernel/debug/huawei-wmi/arg`
Cycle through the

[2020-08-14 14:06] german-rios-gonzalez commented on #38
Hi, @aymanbagabas I get these results for the 3 states of the keyboard backlight

Keyboard backlight turn off:

[german.rios.gonzalez@Huawei-NBL-WAQ9R ~]$ echo 0x000602 | sudo tee /sys/kernel/debug/huawei-wmi/arg
0x000602

[root@Huawei-NBL-WAQ9R ~]# cat /sys/kernel/debug/huawei-wmi/call
[{0x00,0x00,0x00,0x00},{0x00,0x00,0x04,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x0

[2020-08-14 14:11] german-rios-gonzalez commented on #38
Hi, I'm sorry I was start it before see you change the last command, so this is the results

Keyboard backlight turn off:

echo 0x000602 | sudo tee /sys/kernel/debug/huawei-wmi/arg
0x000602

[root@Huawei-NBL-WAQ9R ~]# cat /sys/kernel/debug/huawei-wmi/call
[{0x00,0x00,0x00,0x00},{0x01,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,

[2020-08-14 14:13] aymanbagabas commented on #38
Hahaa, bingo! I gotta try this in my machine. You can see the changes here in the first and last cases (the second seems odd). Looking at the methods, the available values are 0x04, 0x08, and 0x10.

Could you try these with each value and observe the changes to the keyboard backlight
* `echo 0x[VALUE]0702 | sudo tee /sys/kernel/debug/huawei-wmi/arg`
* `sudo cat /sys/kernel/debug/huawei-wmi/call`

[2020-08-14 14:24] german-rios-gonzalez commented on #38
Hi, I can't see any difference maybe I do it wrong?

Keyboard backlight level 2 and 0x04:

[german.rios.gonzalez@Huawei-NBL-WAQ9R ~]$ echo 0x0x040702 | sudo tee /sys/kernel/debug/huawei-wmi/arg
0x0x040702

[root@Huawei-NBL-WAQ9R ~]# sudo cat /sys/kernel/debug/huawei-wmi/call
[{0x00,0x00,0x00,0x00},{0x01,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,

[2020-08-14 15:31] aymanbagabas commented on #38
Ok, there is a catch, you gotta run each set of commands twice to get a result, otherwise, you'll get 0x01.

[2020-08-14 16:18] german-rios-gonzalez commented on #38
Sorry for the delay, but I think I screwed again, because I can't see any change, for example this is the value that I need to echo 0x0x040702?? or is 0x040702?

[german.rios.gonzalez@Huawei-NBL-WAQ9R ~]$ echo 0x0x040702 | sudo tee /sys/kernel/debug/huawei-wmi/arg
0x0x040702
[root@Huawei-NBL-WAQ9R ~]# cat /sys/kernel/debug/huawei-wmi/call
[{0x00,0x00,0x00,0x00},{0x01,0x00,0x00,0x00,0x00,0x00,0x00,

[2020-08-14 16:21] aymanbagabas commented on #38
No, it's gonna be in this form 0x080702

[2020-08-14 16:29] german-rios-gonzalez commented on #38
My bad, here are the results now

Keyboard backlight level 2 and 0x04:

[german.rios.gonzalez@Huawei-NBL-WAQ9R ~]$ echo 0x040702 | sudo tee /sys/kernel/debug/huawei-wmi/arg
0x040702

[root@Huawei-NBL-WAQ9R ~]# cat /sys/kernel/debug/huawei-wmi/call
[{0x00,0x00,0x00,0x00},{0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x0

[2020-08-14 16:31] aymanbagabas commented on #38
Did the keyboard backlight change?

[2020-08-14 16:35] german-rios-gonzalez commented on #38
No, it didn't change the intensity of the light or the time out.

[2020-08-14 16:40] german-rios-gonzalez commented on #38
Yeah, after the 0x04 the second time it turn off the backlight, the 0x08 the second time turn on the backlight in level 1, and the 0x10 the second time turn on the backlight on the level 2

[2020-08-14 17:45] aymanbagabas commented on #38
@nekr0z can you confirm this is working on your machine?

[2020-08-14 19:39] nekr0z commented on #38
Yes and no. 0x04 followed by a call switches backight to full on my machine (no need to do the commands twice either, once is enough), while 0x08 and 0x10 do nothing. And neither of these commands do anything to the duration of the backlight.

[2020-08-14 19:41] aymanbagabas commented on #38
I guess that's still good news! It means we can control the keyboard backlight from the software. I'll look more into the timeout duration.

[2020-08-14 19:53] nekr0z commented on #38
As for the timeout duration, I don't believe this option was available before 2020, so it may be exclusive to the newer models. I definitely remember the corresponding woes on a forum dedicated to WRT-W19.

That being said, it's cool that keyboard backlight can be controlled from software — even on my model (and I guess on MBX as well?); it's even more cool that at least new models allow for backl

[2020-08-22 16:13] bernimoses opened #39 "Matebook X Pro 2020"
I just got the Matebook X Pro 2020 (MACHC-WAX9) and tested the following with the 5.8.2 kernel:
1. Function hotkeys work except for keyboard backlight (F3)
2. Micmute LED control works by setting `/sys/devices/platform/huawei-wmi/leds/platform::micmute/brightness` (0, 1) but it doesn't change if i press the mute button (F7)
3. Battery protection can be set with `/sys/class/power_supply/BAT0/charge

[2020-09-06 11:05] krysopath opened #40 "Huawei Matebook D15 AMD R7 from 2020"
**battery thresholds and external microphone**

I recently purchased Matebook D15 and am really glad you pioneered support. Most features do work right out of the box. I am missing control over battery thresholds, and an issue with my external microphone audio jack.

**To Reproduce battery**
Steps to reproduce the behavior:
1. run `5.4.0-42-generic` in ubuntu 20.04
2. Try to set battery charging t

[2020-09-06 17:39] aymanbagabas commented on #40
Could you please provide an acpi dump? Refer to https://01.org/linux-acpi/utilities for more information.

[2020-09-07 13:57] krysopath commented on #40
Installed `acpica-tools` via apt.

[code]

gzipped to satisfy github contraints.

[acpi-tables.out.gz](https://github.com/aymanbagabas/Huawei-WMI/files/5183406/acpi-tables.out.gz)

[2020-09-07 15:45] krysopath commented on #40
I also updated  [lspci.txt](https://github.com/aymanbagabas/Huawei-WMI/files/5183882/lspci.txt) by running it with uid 0. Now includes `Capabilities` for each device.

[2020-09-22 17:01] krysopath commented on #40
Can I help by further remote command execution or via learning how acpi actually does work?

[2020-09-27 21:15] ZerdoX-x opened #41 "Is there any support for brightness adjustment?"
It would be really cool if Fn+F1 and Fn+F2 would work the same as Fn+F5, Fn+F6, Fn+F7 (adjust volume, mute mic)

[2020-09-27 21:23] nekr0z commented on #41
On MateBook 13 `WRT-W19` they do work.

[2020-09-27 22:18] ZerdoX-x commented on #41
@nekr0z I can't get it work on HN-W19R (AMD R5 3500U 2020)

[2020-09-29 19:30] #41 closed

[2020-09-29 19:36] aymanbagabas commented on #41
What DE are you running? Major DEs have their own implementation to handle ACPI events.

[2020-09-29 19:48] ZerdoX-x commented on #41
@aymanbagabas I use i3

[2020-10-20 04:03] RangerNJU opened #42 "FAILED message in system boot log about "Huawei WMI Reinstate". charge_thresholds: No such file or directory"
**Describe the bug**
"Fail to get WMI Privilege and Reinstate" message in system boot log.

**To Reproduce**
Install the 3.4 version driver via DKMS .
Boot using ly and Archlinux with lts kernel version: 5.4.72-1-lts.

Type `sudo journalctl` and search for `Huawei WMI Reinstate`.

Then you will see messages like:
[code]

**Expected behavior**
No such error messages in system boot log.

**Desktop (

[2020-10-20 04:25] nekr0z commented on #42
This is the issue with [https://github.com/qu1x/huawei-wmi](the service), not the driver, and should be reported there (although I believe in can be easily fixed by simply updating the service to the current version).

[2020-10-20 07:03] n3vu0r commented on #42
Yes, the latest version ([master branch](https://github.com/qu1x/huawei-wmi)) works with the new (`charge_control_thresholds`) driver interface.

[2020-10-20 13:49] aymanbagabas commented on #42
It was named that way to match the kernel ABI https://www.kernel.org/doc/Documentation/ABI/testing/sysfs-class-power

[2020-10-20 17:06] aymanbagabas commented on #38
@german-rios-gonzalez can you provide a `sudo dmidecode` for your computer? I need the device's dmi id to match against it in the driver.

[2020-10-20 17:11] german-rios-gonzalez commented on #38
Hi @aymanbagabas off course

# dmidecode 3.2
Getting SMBIOS data from sysfs.
SMBIOS 3.11.1 present.
# SMBIOS implementations newer than version 3.2.0 are not
# fully supported by this version of dmidecode.
Table at 0xAE2DD000.

Handle 0x0000, DMI type 0, 26 bytes
BIOS Information
	Vendor: HUAWEI
	Version: 1.07
	Release Date: 06/02/2020
	Address: 0xE0000
	Runtime Size: 128 kB
	ROM Size: 8 MB
	Chara

[2020-10-20 17:47] aymanbagabas commented on #39
Also, please provide the output of `sudo dmidecode`

[2020-10-20 18:03] aymanbagabas commented on #38
Please try https://github.com/aymanbagabas/Huawei-WMI/tree/feat/kbdlight and report the behavior. FYI, I haven't tested it on my machine (I don't have it on me at the moment) so you might encounter kernel panics 🤞

@nekr0z I'd love it if you can test this too. You'd need to load the driver with `handle_kbdlight=1` or use the sysfs interface because your device handles this somewhere else, _assumin

[2020-10-20 18:05] aymanbagabas commented on #36
Closing due to inactivity.

[2020-10-20 18:05] #36 closed

[2020-10-20 19:26] Shadesh commented on #39
As requested here the dmidecode from a Matebook x Pro with Ubuntu 20.10 installed. Disabled Nvidia completely because battery life still sucks hards...
[matebook.txt](https://github.com/aymanbagabas/Huawei-WMI/files/5411067/matebook.txt)

[2020-10-20 20:30] nekr0z commented on #38
Ooh, interesting, it works! Well, somewhat. ;-)

I installed the patched driver onto my machine and rebooted. Nothing new.

Then, I `rmmod`ed the driver and `insmod`ed it with `handle_kbdlight=1`. `kbdlight` interface appeared under `/sys/devices/platform/huawei-wmi/`. So far so good.

Now, my WRT-W19 has 3 modes of keyboard lighting: "off" (self-explanatory), "half" (low brighness for about 15 se

[2020-10-21 03:01] RangerNJU commented on #42
Thank you everyone for your quick response:)

I've search AUR but got no package for [the service](https://github.com/qu1x/huawei-wmi), I'm wondering whether [the Makefile](https://github.com/qu1x/huawei-wmi/blob/master/generic/Makefile) is compatible with Arch? In other words, all I need to do is clone [the service](https://github.com/qu1x/huawei-wmi) then go to the generic folder and `sudo make

[2020-10-21 04:51] RangerNJU commented on #42
update: the thresholds get reset to `0 0`, and by default the battery won't charge in this situation, which is fine for me.

[2020-10-21 05:31] nekr0z commented on #42
@RangerNJU
* The service does things other than mitigate the thresholds reset. You may or may not need those things, it's entirely up to you whether to use the service or just use the driver.
* Creating and maintaining an AUR package is really easy. If you think one is needed, why don't you do that?
* Distribution-specific question are better asked where the distribution is discussed. The Makefile

[2020-10-21 08:23] RangerNJU commented on #42
I'd like to close this issue and say sorry to everyone subscribed to this repository that don't care about the service. Thank you for your courtesy and patience @nekr0z .

- I'll check out how to create and maintain an AUR package later.
- When set to `0 0` and plugged, my device keeps the current battery charge percentage(in other words, won't charge to 100 percent). I get the motherboard replace

[2020-10-21 08:23] #42 closed

[2020-10-21 14:20] german-rios-gonzalez commented on #38
Hi @aymanbagabas, I don't know if I do it all ok, but the keyboard can cycle through the 3 levels of backlight, from off, to medium, to maximum, and the timeout it's off 💃, and there isn't kernel panics signals yet, I'm going to work all day and be right back if anything went wrong

[2020-10-21 16:57] bernimoses commented on #39
Sorry i don't have the notebook anymore so can't test or provide any further information. I couldn't handle the fan starting and stopping all the time (i think the fluctuating cpu temperature readings caused this) even on light tasks where i don't have problems with my 2018 model.

[2020-11-03 19:15] sermart1234 opened #43 "Build from source"
I use Fedora 33 (Linux 5.8.17)
Honor Magicbook Pro 2020
I can build **feat/kbdlight**
[code]
[code]
And see:
[code]
Help me
Can I just copy [crypto/bio/bss_file.c](https://code.woboq.org/crypto/openssl/crypto/bio/bss_file.c.html) to `/usr/src/kernels/5.8.17-300.fc33.x86_64/crypto`?

[2020-11-15 21:28] aymanbagabas commented on #38
I finally was able to run this on my machine (MACH-WX9) and I see a couple of differences.

[code]

The return buf always returns `buf[1] = 0xff` and `buf[2]` has one of the following values `0x01` off, `0x02` level 1, and `0x04` level 2 which is different from what you have. It seems like older their older models have more quirks and edge cases. I will see what I can do.

[2020-11-16 00:13] aymanbagabas commented on #38
@nekr0z could you please provide a `dmidecode` output? As this project keeps growing, it's becoming hard to keep track of which device is which. So I'm thinking of building a database of Huawei devices information in the wiki section of this repository.

`dmidecode` is used to identify platform devices in the kernel and the driver uses those to apply quirks to different devices. From what I've not

[2020-11-16 00:38] aymanbagabas commented on #38
@german-rios-gonzalez your device doesn't seem to have `\SKBT` and `\GKBT` introduced in https://github.com/aymanbagabas/Huawei-WMI/pull/44

[2020-11-16 01:19] aymanbagabas commented on #38
@nekr0z @german-rios-gonzalez I've updated https://github.com/aymanbagabas/Huawei-WMI/tree/feat/kbdlight to fix some issues.

@nekr0z I've noticed that whenever I change `kbdlight` on my machine, the change does not take effect immediately like if it was on level 2 and I set it to off, it takes some time for the change to apply. This might be the case for you as well. However, I think this doesn't

[2020-11-16 03:30] german-rios-gonzalez commented on #38
Hi, @aymanbagabas so far it's working without issues, I didn't notice any drawbacks, the time out it's off and the keyboard backlight it's always on

[2020-11-16 07:48] sermart1234 commented on #38
**Offset 0x18 - KBBH
Offset 0x19 - KBBL**

**0x32 = 50 = 5 secons**
![image](https://user-images.githubusercontent.com/47400075/99224651-c75b8000-27f7-11eb-9cb2-c23b022761f4.png)

**0x012C = 300 = 30 seconds**
![image](https://user-images.githubusercontent.com/47400075/99224844-1dc8be80-27f8-11eb-8d30-7b8b5e02856b.png)

[2020-11-16 09:16] nekr0z commented on #38
[dmidecode.txt](https://github.com/aymanbagabas/Huawei-WMI/files/5545248/dmidecode.txt)

[2020-11-16 11:06] nekr0z commented on #38
Hmm. I've upgraded my BIOS to 1.28, and I can no longer get `kbdlight` interface to appear...

[2020-11-16 20:27] sermart1234 commented on #38
@nekr0z, acpidump, please `acpixtract -a acpidump.out`
On Magicbook Pro 2020 (BIOS 1.03) doesn't work `kbdlight`.
You can try get timeout:
[code]
Set timeout:
[code]

[2020-11-16 21:04] aymanbagabas commented on #38
The keyboard backlight would need more quirks...

Here are the two functions `\SLIV` and `\GLIV` responsible for set/get the keyboard backlight callable at `0x00000702` and  `0x00000602`.

<details>
<summary>Magicbook Pro 2020 (HLYL-WXX9)</summary>

    Method (GLIV, 1, NotSerialized)
    {
        Name (BUFF, Buffer (0x0100) {})
        Name (CONT, Zero)
        Local0 = Arg0
        CreateByteFi

[2020-11-16 21:18] sermart1234 commented on #38
@aymanbagabas

On Magicbook Pro 2020 `\SLIV` does not control the backlight

[2020-11-16 21:34] aymanbagabas commented on #38
How do you control the backlight? On the MACH-WX9, the keyboard backlight button works out of the box. However, using these two functions, I am able to get/set the keyboard backlight, though setting it takes some time to apply which is weird.

[2020-11-17 04:29] nekr0z commented on #38
You want me to publish all the 39 resulting `.dat`s?

On WRT-WX9 this always returns a bunch of `0x00`s with a single `0x01`in the first position of the second array. The set method you've mentioned does nothing.

[2020-11-17 08:06] n3vu0r commented on #38
No idea if my MateBook D14 AMD 2018 (KPL-W0X) can control timeouts but here are [dmidecode.txt] and [acpidump.txt].

[dmidecode.txt]: https://github.com/aymanbagabas/Huawei-WMI/files/5551922/dmidecode.txt
[acpidump.txt]: https://github.com/aymanbagabas/Huawei-WMI/files/5551921/acpidump.txt

[2020-11-17 10:33] sermart1234 commented on #38
Тo. I copied the wrong command. Sorry/

[2020-11-17 11:02] sermart1234 commented on #38
@n3vu0r, your device doesn't have `\SKBT` and `\GKBT`. You can try upgrade BIOS.

[2020-11-17 11:52] sermart1234 commented on #38
On HLYL-WXX9 the keyboard backlight button works also.
`GLIV` always returns `STAT = 1`.
`SLIV` just doesn't work.
`echo 0x00040702 | tee /sys/kernel/debug/huawei-wmi/arg`, `echo 0x00020702 | tee /sys/kernel/debug/huawei-wmi/arg`, `echo 0x00040702 | tee /sys/kernel/debug/huawei-wmi/arg` doesn't change the `GLIV` return

[2020-11-17 12:14] sermart1234 commented on #38
@aymanbagabas, I think, on your device you can read/write timeout value in EC memory.

I can read level backlight on my laptop. `od -Ax -t x1 /sys/kernel/debug/ec/ec0/io`
Turn off:
0000f0 fc 07 00 00 00 00 00 00 03 03 00 00 **0**0 00 00 00
Level 1:
0000f0 fc 07 00 00 00 00 00 00 03 03 00 00 **4**0 00 00 00
Level 2:
0000f0 fc 07 00 00 00 00 00 00 03 03 00 00 **8**0 00 00 00
Also FN led:
0000f0 fc 0

[2020-11-17 12:41] nekr0z commented on #38
[acpidump.txt](https://github.com/aymanbagabas/Huawei-WMI/files/5553486/acpidump.txt)

[2020-11-17 12:56] sermart1234 commented on #38
@aymanbagabas. Also

`GVER` return BIOS version 1.03
<details>
  <summary>GVER | 0x00000101</summary>
[{0x00,0x00,0x00,0x00},{0x00,0x01,0x00,0x10,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00

[2020-11-17 13:13] aymanbagabas commented on #38
You're getting `0x01` because you have to run each call twice, look at the implementation of your device's wmi method. This behavior is the same on other devices. Notice `WMIC` in this code.

[code]

[2020-11-17 13:17] aymanbagabas commented on #38
I'm not sure if those are 'usefull' or not. The only thing I can think of is to check available features based on `GVER`.

[2020-11-17 13:27] sermart1234 commented on #38
@aymanbagabas
0x00000F04 STUB
0x00000E04 GTUB

The command sequence returns connected power adapter. [{0x00,0x00,0x00,0x00},{0x00,0x0**1**,0x00,
[code]

[2020-11-17 15:39] aymanbagabas commented on #39
Could you please upload an `acpidump`? `sudo acpidump > acpidump.out`

[2020-11-17 15:41] aymanbagabas commented on #40
Can you upload the output of `dmidecode > dmidecode.txt`

[2020-11-17 15:42] aymanbagabas commented on #37
Closing...

[2020-11-17 15:42] #37 closed

[2020-11-17 15:48] Shadesh commented on #39
Sure.
[acpidump.log](https://github.com/aymanbagabas/Huawei-WMI/files/5554556/acpidump.log)

[2020-11-17 16:08] krysopath commented on #40
[dmidecode.txt.gz](https://github.com/aymanbagabas/Huawei-WMI/files/5554674/dmidecode.txt.gz)

[2020-11-17 16:21] aymanbagabas commented on #39
@Shadesh @bernimoses From what I understand, the only issue is the keyboard backlight. If so, please hop on to issue https://github.com/aymanbagabas/Huawei-WMI/issues/38, and if you could please try https://github.com/aymanbagabas/Huawei-WMI/tree/feat/kbdlight. Feel free to close this ticket.

[2020-11-19 16:25] sermart1234 commented on #38
@aymanbagabas
[Honor Magicbook **2019**.zip](https://github.com/aymanbagabas/Huawei-WMI/files/5568211/Honor.Magicbook.2019.zip)

[2020-11-19 16:52] aymanbagabas commented on #38
@sermart1234 Could you test `\SLIV` and `\GLIV` more? It wouldn't make sense for these functions to behave differently on other devices.

[2020-11-19 20:21] sermart1234 commented on #38
@aymanbagabas

oh. I've already tried calling everything twice. Could you give an example of a sequence of commands?

[2020-11-19 20:29] aymanbagabas commented on #38
@sermart1234

[code]

[2020-11-20 20:17] sermart1234 commented on #38
@aymanbagabas, oh, I always did
<details>
  <summary>But...</summary>
[root@LAPTOP-LP7S54VC ~]# echo 0x00000602 | sudo tee /sys/kernel/debug/huawei-wmi/arg<br>
0x00000602<br>
[root@LAPTOP-LP7S54VC ~]# sudo cat /sys/kernel/debug/huawei-wmi/call<br>
[{0x00,0x00,0x00,0x00},{0x01,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x0

[2020-11-25 20:44] aymanbagabas commented on #38
@sermart1234 could you try this in the same order make sure the backlight is on

[code]

[2020-11-27 19:15] keltkelt commented on #38
Hello,

ive bought a Matebook 13 2020 recently and got the exact same problem with 15 second keyboard backlight timing.
Can anyone please tell me how to disable the timing on a windows machine?

I only registered to ask this on this Forum. :-)

[2020-11-28 13:42] sermart1234 commented on #38
@aymanbagabas dosn't work
<details>
  <summary>output</summary>
[root@LAPTOP-LP7S54VC ~]# sudo cat /sys/kernel/debug/huawei-wmi/call
[{0x00,0x00,0x00,0x00},{0x01,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x0

[2020-11-28 13:51] sermart1234 commented on #38
@aymanbagabas also Honor Magicbook **2019**
[Honor Magicbook **2019** BIOS 1.12.zip](https://github.com/aymanbagabas/Huawei-WMI/files/5610684/Honor.Magicbook.2019.BIOS.1.12.zip)

[2020-11-30 16:56] aymanbagabas commented on #38
@sermart1234 Could you test this on a Honor Magicbook 2019?

[2020-11-30 17:00] aymanbagabas commented on #38
@keltkelt I need to peek through your laptop's ACPI tables. Could you please provide a `acpidump` and a `dmidecode` outputs?
[code]

[2020-11-30 17:41] aymanbagabas commented on #38
@sermart1234 I'm still surprised why `\SLIV` and `\GLIV` are not working. Because following the logic in these functions should return a value unless there is something I'm not seeing.

You call the WMI interface method, `WMAA` using `0x00000702` `0x02` is the `MFID`, `0x07` is the `SFID`, and `0x00` is the first argument to the function. In this case, `0x0702` is `\SLIV` and the first argument is

[2020-11-30 21:05] sermart1234 commented on #38
@aymanbagabas, `GLIV` return buffer very slow.
[code]
`ECXC & One` equal to `Zero`, but
[code]
[code]
I think, something is constantly changing the `ECXC` value

[2020-11-30 22:21] sermart1234 commented on #38
@aymanbagabas, how I can call `\SLIV` and `\GLIV` on Windows?

[2020-12-01 04:28] aymanbagabas commented on #38
You gotta switch to [Windows kernel-mode](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/setting-up-local-kernel-debugging-of-a-single-computer-manually) and setup `windbg`, then use the [AMLI](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/the-amli-debugger) tool to call ACPI methods. See these [examples](https://docs.microsoft.com/en-us/windows-hardware/dr

[2020-12-22 20:31] #43 closed

[2021-01-01 23:32] ldan93 opened #46 "Help with understanding the battery thresholds feature"
Hello,

I'm trying to implement the battery thresholds feature under MacOS (hackintosh) on the Matebook X Pro 2018 (MACH-WX9). I'm trying to do this only by using ACPI calls.

From reading your code and the DSDT of this machine, I understand that the \GBTT and \SBTT ACPI methods are responsible for getting and setting min/max battery thresholds :

<img width="508" alt="Capture d’écran 2020-12-30 à

[2021-01-02 15:16] Nonta72 commented on #38
Hi,

I would like to thank you for the initiative because the timeout pseudo-feature is really annoying.
I have a similar device to those mentionned in the issue except mine is a MagicBook 14 2018 (VLT-WX0).

I tried to compile the module using the branch mentionned here https://github.com/aymanbagabas/Huawei-WMI/issues/38#issuecomment-713039969 but no kbdlight interface appears under `/sys/device

[2021-01-04 16:41] aymanbagabas commented on #46
Hi @ldan93,

The line you used to set the threshold _should_ theoretically be effective. You can verify that by looking at EC memory, I use RWEverything in Windows and `modprobe ec_sys && watch -n1 hexdump -Cv /sys/kernel/debug/ec/ec0/io` in Linux. Also if you want to debug ACPI, I'd recommend using `acpiexec` to run a sandboxed ACPI environment where you can test these functions.

Now these two f

[2021-01-04 17:07] aymanbagabas commented on #38
Hi @Nonta72,

As you can see in this discussion, the state of kbdlight and kbdlight_timeout is inconsistent across these devices, my device in particular doesn't have such functionality so I can't really test these things. @sermart1234 did a good job in implementing both functionalities but it's only been tested on his device AFAICT.

[2021-01-04 20:26] ldan93 commented on #46
Thank you very much for all your useful explanations and advice !
Calling \SBTT with the syntax you explained works under MacOS. I will have a thorough look at the projects you mentioned.

[2021-01-04 20:26] #46 closed

[2021-01-04 21:20] Nonta72 commented on #38
It seems like it's indeed inconsistent
Did your device come with an option to disable the kb timeout in windows?
It seems like devices released in 2020 have that option in Windows through the proprietary bloatware called PC Manager.
That means BIOS already allows such change through software depending on the operating system.
Mine never worked with such software in Windows and Huawei's only answer

[2021-01-21 07:30] pur2evil opened #47 "Some of the function hotkeys not work in TTYs"
For the record, all of the hotkeys, they do work perfectly in Desktop Environments.
However, some function hotkeys like Volume Up/Down, Mute… they just don't work in TTYs.
I'm not sure if this is a bug. Or the driver is for Desktop only?
Help needed.

[2021-01-21 15:10] aymanbagabas commented on #47
Most of the hotkeys work through firing ACPI events, a desktop environment like GNOME or KDE implements their own ACPI handler. You could try [acpid](https://wiki.archlinux.org/index.php/acpid) if you want to have your own handler that _should_ work outside of a desktop environment.

[2021-01-22 08:44] pur2evil commented on #47
Yea, acpid. That was my Plan B.
I will try it when I got time.
Thanks man. You are awesome.

[2021-01-30 00:40] nagisa opened #48 "Works great on Matebook X (2020)!"
Using the upstream kernel driver from 5.10, the driver works great on Matebook X 2020 (EUL-WX9).

Things verified working:
* all of the function keys
  * although dmesg complains about "Unknown key released (translated set 2, code 0xf8 on isa0060/serio0).");
  * F11 and F12 cannot be combined with modifiers, it seems;
* brightness control;
* battery thresholds;
* the LEDs.

ACPI tables & DMI decod

[2021-01-30 00:40] #48 closed

[2021-02-15 12:53] mklemm2 commented on #37
The question is still unanswered. I also don't get the meaning of start_threshold, it seems to make no difference in behavior at all.

[2021-05-13 00:03] EnginAcikgoz opened #49 "Huawei Matebook D16 micmute and battery protection"
Hi, microphone led doesn't turn on and off automatically.
And battery protection feature doesn't work.
If you wish, I can give extra information about the system.

[2021-05-13 13:26] aymanbagabas commented on #49
Please follow the bug report template and provide more information https://github.com/aymanbagabas/Huawei-WMI/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

[2021-05-13 14:22] EnginAcikgoz commented on #49
**acpidump,  dmidecode and dmesg

 outputs**
[acpidump.txt](https://github.com/aymanbagabas/Huawei-WMI/files/6472713/acpidump.txt)
[dmidecode.txt](https://github.com/aymanbagabas/Huawei-WMI/files/6472822/dmidecode.txt)
[dmesg-out.txt](https://github.com/aymanbagabas/Huawei-WMI/files/6472788/dmesg-out.txt)

**uname -a**
Linux unknown 5.12.1-2-MANJARO #1 SMP PREEMPT Sun May 2 13:56:40 UTC 2021 x86_6

[2021-05-20 23:19] EnginAcikgoz commented on #49
Hello again, i still waiting. Do you need any information?

[2021-05-23 09:03] EnginAcikgoz commented on #49
![a](https://user-images.githubusercontent.com/26650249/119254345-6f467180-bbbe-11eb-86ad-584bdff2871a.png)
i tried run a script/program with fn+f7 keys and shortcut looks as "AudioMicMute" and shortcut doesn't working. Shortcut does only open and close microphone. Other commands does not working.

[2021-07-28 16:37] jerabaul29 opened #51 "Huawei Matebook X Pro 2020 - battery charge threshold - end seems active, start seems inactive"
I am using Ubuntu 20.04 (recently installed, nothing special) on a Huawei Matebook X Pro 2020. It looks like the end threshold (i.e. the content of ```/sys/class/power_supply/BAT0/charge_control_end_threshold```) is well taken into account, but the start threshold (```/sys/class/power_supply/BAT0/charge_control_start_threshold```) is not. I.e., if end threshold is set to 70, I never observe batter

[2021-07-28 16:45] jerabaul29 commented on #51
[dmidecode.txt](https://github.com/aymanbagabas/Huawei-WMI/files/6895086/dmidecode.txt)
[dmesg.txt](https://github.com/aymanbagabas/Huawei-WMI/files/6895087/dmesg.txt)
[acpidump.txt](https://github.com/aymanbagabas/Huawei-WMI/files/6895088/acpidump.txt)

[2021-07-28 17:34] aymanbagabas commented on #51
Is this behavior the same in Windows?

[2021-07-28 19:19] jerabaul29 commented on #51
What do you mean @aymanbagabas ? :)

[2021-07-28 19:21] jerabaul29 commented on #51
I have wiped off windows, no way to do any windows Vs Linux tests for my part unfortunately if this is what you mean. But I am pretty sure that this is not the expected behaviour. On my ThinkPads with tlp enabled and similar threshold, the effect of start threshold is that charging starts only when battery level falls below the threshold - to avoid super many small charging around the top threshol

[2021-08-03 17:07] aymanbagabas commented on #51
ThinkPads != Matebooks, different vendors have different specifications. If this is happening with Huawei-WMI then I'm pretty certain Windows will give you the same behavior since both PC Manager and this driver use the same underlying interface.

Closing until you verify or someone with the same device verifies the issue. Sorry

[2021-08-03 17:07] #51 closed

[2021-08-03 17:15] aymanbagabas commented on #38
No, it didn't. But the BIOS contains the kbdlight control methods, although they behave weirdly. Changing the backlight doesn't take effect immediately.

It seems like you're right about devices released before 2020. If someone could make a PR for applying a quirk that disables kbdlight and kbdlight_timeout functionality for these devices in the [feat/kbdlight](https://github.com/aymanbagabas/Huaw

[2021-08-03 20:43] Nonta72 commented on #38
I still don't understand something, you have a Matebook from 2018 (the PRO version). I have the normal version from the same year. The design and components are pretty close (except the size I guess). Yet you have the option working with the driver. Which BIOS version are you on? And how did you exactly find the references to keyboard backlight? I checked all ACPI files (from DSDT to SSDT) and che

[2021-08-13 15:51] aymanbagabas commented on #38
After analyzing multiple ACPI files for different devices, I noticed that there is a common ACPI device that defines a unified interface `HWMI`. This interface is a WMI interface that has a function that takes 3 parameters. The first two are unused and _I believe_ they're just a requirement for WMI. The 3rd parameter is a 64-bit integer with 8 parameters in little-endian format (though most of the

[2021-09-01 17:32] #49 closed

[2021-09-01 17:33] #47 closed

[2021-09-01 17:40] aymanbagabas commented on #40
Could you please try building the module from the source and report what files get exposed under `/sys/devices/platform/huawei-wmi/`

[2021-09-29 14:43] m1khal3v opened #52 "Huawei MateBook D16 battery threshold start point does not work"
**Describe the bug**
The start point is set at 70% and the stop point is at 90%. The battery charges up to 89% and holds this value

**Expected behavior**
When the stop point is reached, the charging should be switched off until the start point is reached.

Kernel: 5.14.8-051408-generic
Distro: Ubuntu 20.04.3 LTS
Loaded WMI modules:
[code]
[acpidump.txt](https://github.com/aymanbagabas/Huawei-WMI/

[2021-09-29 14:53] m1khal3v opened #53 "Huawei MateBook D16 microphone led does not work"
**Describe the bug**
LED on the F7(fn+mic) key does not light up when microphone is turned off

**Expected behavior**
When the microphone is turned off, the LED on the F7(fn+mic) key should light up

Kernel: 5.14.8-051408-generic
Distro: Ubuntu 20.04.3 LTS
Loaded WMI modules:
[code]
[acpidump.txt](https://github.com/aymanbagabas/Huawei-WMI/files/7252788/acpidump.txt) | [dmidecode.txt](https://gith

[2021-09-29 16:33] m1khal3v commented on #52
Now I tried to install version 3.4 using dkms autoinstall, but it didn't change anything

[2021-09-29 16:33] m1khal3v commented on #53
Now I tried to install version 3.4 using dkms autoinstall, but it didn't change anything

[2021-09-29 16:52] m1khal3v commented on #52
Also I updated the BIOS to the latest version and it didn't help. I attach dumps after manipulations
[acpidump.txt](https://github.com/aymanbagabas/Huawei-WMI/files/7253723/acpidump.txt) | [dmidecode.txt](https://github.com/aymanbagabas/Huawei-WMI/files/7253728/dmidecode.txt) | [dmesg.txt](https://github.com/aymanbagabas/Huawei-WMI/files/7253726/dmesg.txt)

[2021-09-29 16:53] m1khal3v commented on #53
Also I updated the BIOS to the latest version and it didn't help. I attach dumps after manipulations
[acpidump.txt](https://github.com/aymanbagabas/Huawei-WMI/files/7253723/acpidump.txt) | [dmidecode.txt](https://github.com/aymanbagabas/Huawei-WMI/files/7253728/dmidecode.txt) | [dmesg.txt](https://github.com/aymanbagabas/Huawei-WMI/files/7253726/dmesg.txt)

[2021-09-29 23:09] EnginAcikgoz commented on #53
I have the same problem on the same device.
Also the charge limit doesn't work either.

[2021-09-30 06:24] m1khal3v commented on #53
@EnginAcikgoz hello, look battery issue here https://github.com/aymanbagabas/Huawei-WMI/issues/52

[2021-09-30 06:36] m1khal3v opened #54 "Donate does not work"
**Describe the bug**
When I try to donate on buymeacoffee, I get an error

[code]

[2021-09-30 16:12] aymanbagabas commented on #54
@m1khal3v thank you for reporting this issue. I've fixed the problem which turned out to be an issue with Stripe. Anyway, I tested it on my end and it now seems to work just fine. Thank you again for your support!

[2021-09-30 16:12] #54 closed

[2021-09-30 16:19] aymanbagabas commented on #52
This is the expected behavior according to Huawei's website https://consumer.huawei.com/en/support/content/en-us00727970/

[2021-09-30 16:19] #52 closed

[2021-09-30 16:21] aymanbagabas commented on #53
Does the led light up when you do
[code]

[2021-09-30 16:32] EnginAcikgoz commented on #53
yes, the code is working and led light up.

[2021-09-30 17:12] aymanbagabas commented on #53
@EnginAcikgoz this means there is nothing wrong with `huawei-wmi`. What desktop environment are you using? When I use GNOME or KDE, this simply works fine because these DEs know how to talk to the micmute led interface. If you're not using a DE that recognizes XF86 keys, then you won't get the led to work when you press the key.

The way this works is, when you press the key, the driver fires an e

[2021-09-30 18:41] m1khal3v commented on #52
Oh, thanks for info. It's amazing

[2021-09-30 18:51] m1khal3v commented on #53
LED lights up

I use Gnome 3.36.9 and xorg-server 2:1.20.11-1ubuntu1~20.04.2. Could you tell us how to find clues why this does not work on our hardware?

[2021-09-30 18:52] m1khal3v commented on #54
@aymanbagabas It works now. Thank you for your great work

[2021-09-30 18:53] aymanbagabas commented on #53
@m1khal3v could you upload the output of `alsa-info.sh`? Also what happens if you mute the mic from GNOME sound settings?

[2021-09-30 18:59] m1khal3v commented on #53
@aymanbagabas http://alsa-project.org/db/?f=bdffc32fb0826fbe78792752b0fade8b4c4a43f7

[2021-09-30 19:32] aymanbagabas commented on #53
k now I see the problem.

It seems like new Huawei devices have a different subsystem id compared to the old ones. [Linux-Hardware.org](http://linux-hardware.org/?view=search&subvendorid=1e83&typeid=sound#list) shows devices with this subsystem vendor id `HVY-WXX9`, `KLVC-WXX9`, `KLVL-WXX9`, `WRTB-WXX9`, `MACHC-WAX9`, and `WRTB-WXX9`.

[code]

[2021-10-01 08:42] m1khal3v commented on #53
@aymanbagabas try to hook fn+f7
[code]

[2021-10-11 22:09] aymanbagabas commented on #53
also try
[code]

[2021-10-11 22:21] aymanbagabas commented on #53
does `modinfo snd-hda-codec-realtek` returns kernel 5.14?

[2021-10-12 01:37] enginacikgoz commented on #53
These are a bit complicated for me. I will try it as soon as possible though. Thank you. =)

[2021-10-13 00:36] enginacikgoz commented on #53
Sir, `zsh: no such file or directory: /boot/config-5.13.19-2-MANJARO` what i should do?
ls /boot
`amd-ucode.img  grub                                initramfs-5.13-x86_64.img  memtest86+
efi            initramfs-5.13-x86_64-fallback.img  linux513-x86_64.kver       vmlinuz-5.13-x86_64`

[2021-10-13 01:05] enginacikgoz commented on #53
I can't build it for 5.13.19-2-MANJARO version. please forgive my ignorance

[2021-11-04 17:17] aymanbagabas commented on #53
@m1khal3v could you try the steps above and report back?

[2021-11-06 22:51] enginacikgoz commented on #53
[code]
modinfo snd-hda-codec-realtek
[code]

And led still not working..

[2021-11-08 16:46] m1khal3v commented on #53
Sorry for late answer. I get an error at the step _make oldconfig_:
[code]

[2021-11-08 16:51] aymanbagabas commented on #53
Try to install `flex`, for Ubuntu/Debian `sudo apt-get install flex`

[2021-11-08 19:09] m1khal3v commented on #53
Now i have an error on step _make scripts prepare modules_prepare_:
[code]

[2021-11-08 19:11] aymanbagabas commented on #53
You probably need to install `openssl` dev package. In Ubuntu/Debian, the package would be `libssl-dev`.

[2021-11-08 19:21] m1khal3v commented on #53
[code]

The LED does not light up when i press on the keyboard or from the settings :(

[2021-11-09 08:01] m1khal3v commented on #53
@aymanbagabas Today I noticed that the sound in the right earpiece has disappeared, how can I roll back the changes?

[2021-11-09 19:26] aymanbagabas commented on #53
[0001-ALSA-hda-realtek-New-Huawei-vendor-ID.patch.txt](https://github.com/aymanbagabas/Huawei-WMI/files/7507422/0001-ALSA-hda-realtek-New-Huawei-vendor-ID.patch.txt)

@m1khal3v @enginacikgoz I've changed the name of the entry in the patch, perhaps this makes a difference? Could you try this instead? Just make sure you undo the previous one in the linux tree `git reset HEAD^ && git checkout sound`

[2021-11-09 20:16] enginacikgoz commented on #53
Still not working. But i got extra information.

just to be sure i did the steps here from scratch and just changed the patch file
[code]

Still not working but `make -C . M=sound/pci/hda` gives me this output
[code]

Before doing these operations, I deleted snd-hda-codec-realtek.ko and ran `sudo depmod -a`
[code]

This is the result after processing
[code]

I hope this information was helpful. Th

[2021-11-09 21:35] aymanbagabas commented on #53
What's the output of `cat /sys/bus/hdaudio/devices/hdaudio*/*`?

[2021-11-09 21:39] aymanbagabas commented on #53
@enginacikgoz could you also provide your `sudo alsa-info.sh` output?

[2021-11-09 21:47] enginacikgoz commented on #53
cat /sys/bus/hdaudio/devices/hdaudio*/*
[code]

And here is `sudo alsa-info.sh`
[alsa-info](https://pastebin.com/xkTK6FV7)

[2021-11-09 21:52] aymanbagabas commented on #53
k, i guess it's clear what the issue now haha. the card uses the `snd_hda_codec_generic` driver and not the `realtek` one hehe. so we're basically patching the wrong driver lol

[2021-11-09 21:54] enginacikgoz commented on #53
Sorry for bothering you so much. =')

[2021-11-10 09:49] enginacikgoz commented on #53
Additional info:
When I run the `xdotool key XF86AudioMicMute` command, the microphone can be turned on and off, but the led does not work

[2021-11-10 22:21] enginacikgoz commented on #53
Additional info:
When i change `/sys/devices/platform/huawei-wmi/leds/platform::micmute/trigger` parameter like "kbd-capslock,BAT0-charging-or-full,audio-mute,hci0-power" nothing was happend. Led does not syncing with this triggers. But `echo 1 > brightness ` works flawlessly

[2021-11-15 14:58] aymanbagabas commented on #53
Okay, I take that back, `10EC0256` is a realtek driver so `snd_hda_codec_realtek` should be loaded when you boot the system. `/sys/bus/hdaudio/devices/hdaudioC1D0` shows that the loaded driver is in fact `snd_hda_codec_generic` which is realy confusing.

[2021-11-17 08:11] Helium314 commented on #51
I can semi-confirm the issue.
My device is a Matebook X Pro 2018, not 2020. Otherwise it's the same, also using Ubuntu 20.04.
Both charge thresholds used to work previously, but now lthe lower one doesn't. I only noticed it a month ago, now sure when it started.
Don't have Windows for comparing behavior.

[2021-11-18 15:42] aymanbagabas commented on #51
@Helium314 could you try the `wq` branch and test it from there?

[2021-11-18 20:18] Helium314 commented on #51
Battery at 83%, thresholds at 60 and 88.
Started charging as soon as I plugged in.
Stopped when setting upper limit to 83, but started again after setting to 84.

After plugging/unplugging and changing thresholds a few times it started working properly (until reboot). Not sure what exactly caused this... will try again tomorrow.

[2021-11-19 07:49] Helium314 commented on #51
Current behavior, checked using `/sys/class/power_supply/BAT0/power_now` and `/sys/class/power_supply/BAT0/status`
| battery  | start threshold | end theshold | charging |
| ------------- | ------------- | ------------- | ------------- |
| 69  | 60  | 80 | yes |
| 69  | 60  | 70 | no |
| 69  | 60  | 65 | discharging |
| 71  | 70  | 70 | yes |
| 71  | 70  | 71 | discharging |
| 72  | 71  | 73 | no

[2021-11-22 18:43] mpi3d opened #55 "Charge thresholds doesn't work anymore after BIOS update on HUAWEI MateBook D 15 AMD"
Hi, I just updated my BIOS from version 1.11 to version 1.17 on my HUAWEI MateBook D 15 AMD. After that, setting charge thresholds on Linux as stopped working. Everything else like FN lock and mic led is still working. Also, I'm still able to change those thresholds on Windows.

Steps to reproduce the behavior:
1. Download the latest BIOS from HUAWEI Support: https://consumer.huawei.com/en/support

[2021-11-25 04:27] larax2do commented on #55
Hello, I have the matebook D14 dual boot Fedora and Windows. I just noticed that the windows battery charge control does not work either. Yesterday I got the BIOS  update :c

[2021-11-27 15:46] sermart1234 commented on #53
Om my Honor Magicbook Pro 2020 i have popup notification, but led don't  turn on.

[2021-11-27 16:06] sermart1234 commented on #40
I try test on Huawei Matebook D15 with 3700U

[2021-11-27 16:23] sermart1234 commented on #53
[code]
198 is micmute key

[2021-11-28 12:02] canack commented on #53
i have got same outputs with sertmant1234.
`key press   198`
`key release 198`
`echo 1 > brightness` works but triggers doesn't work.

[2021-11-29 06:38] sermart1234 commented on #55
@mpi3d @larax2do Charge thresholds work on Huawei MateBook D 15 with 3700U. BIOS 1.17.
In version 1.17, a new feature has been added - smart charging. It overrides battery protection. You have to turn it off so that the battery protection works as before. Later I will try to do it on Linux

[2021-11-29 07:27] sermart1234 commented on #53
On Huawei Matebook D15 AMD micmute led works
[code]

`cat trigger` print
`none kbd-scrolllock kbd-numlock kbd-capslock kbd-kanalock kbd-shiftlock kbd-altgrlock kbd-ctrllock kbd-altlock kbd-shiftllock kbd-shiftrlock kbd-ctrlllock kbd-ctrlrlock ACAD-online BAT1-charging-or-full BAT1-charging BAT1-full BAT1-charging-blink-full-solid rfkill-any rfkill-none audio-mute [audio-micmute] rfkill0 phy0rx phy

[2021-11-29 07:29] sermart1234 commented on #53
@aymanbagabas how i can fix audio-micmute trigger?

[2021-11-29 07:41] mpi3d commented on #55
@sermart1234 Indeed, it does work after turning off smart charging. But after unplugging for more than 1 minute the charger, I'm unable to change charge thresholds. I need to reboot into Windows to be able to change them again.

[2021-11-29 09:26] aymanbagabas commented on #53
when you press the micmute key, do you get `Unknown key pressed, code: 0x...` in `dmesg`?

the wmi interface fires a key event when you press a function key. then this gets processed using [`huawei_wmi_process_key`](https://github.com/aymanbagabas/Huawei-WMI/blob/master/huawei-wmi.c#L691) which maps keycodes to linux sparse keymap defined in https://github.com/aymanbagabas/Huawei-WMI/blob/master/h

[2021-12-01 06:42] sermart1234 commented on #53
@aymanbagabas
[code]

[2021-12-05 10:13] sermart1234 commented on #53
@aymanbagabas `huawei_wmi_process_key` work. I delete `{ KE_KEY,    0x287,          { KEY_MICMUTE } }` and micmute notification is not displayed. But...
[code]
don't work.
it spams in dmesg whenever I press the Huawei hotkeys
[code]

[2021-12-06 15:55] aymanbagabas commented on #53
@sermart1234 good observation. Huawei-WMI driver creates a new keyboard for the hotkeys which are defined in that table, `0x287` is the micmute keycode extracted from the WMI method. `atkbd` is the original driver for the keyboard which doesn't handle Huawei hotkeys and instead emit `0xf8` for almost all hotkeys.

[2021-12-06 19:30] sermart1234 commented on #53
@aymanbagabas how do triggers for LEDs work? how can emulate a trigger? Does it depend on the audio driver? should I configure systemd, udev? Or will you just have to write a script for processing the micmute button?

[2021-12-06 20:32] aymanbagabas commented on #53
@sermart1234 AFAICT each trigger is implemented differently in the LED subsystem. if `echo 1 > brightness` works, then the triggers _should_ work too unless something wrong with the trigger. as you can see in the source code [here](https://github.com/aymanbagabas/Huawei-WMI/blob/master/huawei-wmi.c#L304-L317), we only set the default trigger which can be changed from the LED sysfs interface

[2021-12-08 19:40] sermart1234 commented on #53
@aymanbagabas Should the Realtek driver send events to turn off the LED? or DE?

[2021-12-09 07:52] Helium314 commented on #51
I did not manage to reliably reproduce the switch to a working-as-usual state. Only notable thing is that when the switch works, the command (e..g `echo 70 > /sys/class/power_supply/BAT0/charge_control_end_threshold`) takes about a second to finish, as opposed to the normal immediate execution.

Anyway, the root cause appears to be a BIOS update to 1.36 I did in summer (before removing Windows 10)

[2021-12-09 07:59] jerabaul29 commented on #51
Should this issue be re-open since we are several who can confirm the issue and the bug seems "reproducible"? :) . Then of course it is a question if this should be also forwarded to Huawei (if there is an issue with their BIOS? or is it some other organisation that "produces" the BIOS? a bit of a n00b there :) )?

[2021-12-09 10:31] Helium314 commented on #51
BIOS is coming from Huawei, and I just saw there is a newer version 1.37 for Matebook X Pro 2018, maybe it's a related bugfix.
If new BIOS version changes the intended behavior, then issue could maybe be re-opened, but if it's a bug it has nothing to do with the Huawei-WMI here.

[2021-12-09 10:44] jerabaul29 commented on #51
:) .

[2021-12-16 18:40] LucasPintoRicardo commented on #55
Hello everyone, it doesn't work as expected on my Matebook D 14 too (R5 3500U with dual-boot Fedora/Windows), even with smart charging turned off, and I have the same problem on Windows. I think that this issue doesn't come from Huawei-WMI but from the BIOS itself (version 1.17), because in my case, it seems that only the end threshold works.

I don't know if you can reproduce this:

1. If I have

[2022-01-27 09:28] dalareo commented on #55
I am using Honor Magicbook 14 and battery thresholds don't work anymore on Linux after applying las BIOS update either. Any news?

[2022-01-31 11:42] sermart1234 commented on #55
@dalareo if you have Windows: PCManager - Settings - Battery and turn off Smart charging.
On Linux you can try check the battery protection mode
[code]
[{0x00,0x00,0x00,0x00},{0x00,0x**01**,0x48,0x28,0x46,0x00... - 70%
[{0x00,0x00,0x00,0x00},{0x00,0x**02**,0x48,0x46,0x5a,0x00... - 90%
[{0x00,0x00,0x00,0x00},{0x00,0x**03**,0x48,0x5f,0x64,0x00... - 100%
[{0x00,0x00,0x00,0x00},{0x00,0x**04**,0x48,0x2

[2022-01-31 11:49] sermart1234 commented on #40
@krysopath please test this https://github.com/aymanbagabas/Huawei-WMI/issues/55#issuecomment-1025651920

[2022-02-01 14:55] dalareo commented on #55
Hi @sermart1234 I get "permissions denied" for that file. Even with root user.

[2022-02-02 18:09] sermart1234 commented on #55
@dalareo sorry. I copied the wrong commands. Please repeat

[2022-02-03 12:45] sermart1234 commented on #55
@aymanbagabas acpidump and dmidecode [honor_magicbook_pro_2020_4600h_bios_1_08.zip](https://github.com/aymanbagabas/Huawei-WMI/files/7994127/honor_magicbook_pro_2020_4600h_bios_1_08.zip)
New methods:
[code]
`SBCM` can set thresholds as a `SBTT`. Both write in  `\_SB.PCI0.LPC0.EC0.BCCL` and  `\_SB.PCI0.LPC0.EC0.BCCH`
Set `echo 0x462848011503 | sudo tee /sys/kernel/debug/huawei-wmi/arg`
0x28 = 40
0x

[2022-02-03 13:11] sermart1234 commented on #40
@krysopath if you set "0 0" or "0 100" then it turn on smart charge
https://github.com/aymanbagabas/Huawei-WMI/issues/55#issuecomment-1028953673

[2022-02-05 08:05] mpi3d commented on #55
Sounds like setting thresholds using this new method also works on HUAWEI MateBook D 15 AMD.
It would be great if this could be implemented without using this "debug" method.
Anyway, thanks for your work @sermart1234

[2022-02-09 14:28] sermart1234 commented on #55
@mpi3d When I find out what the unknown parameter is responsible for, I will implement the interface. In addition, we need to deal with the old interface

[2022-02-10 09:34] mpi3d commented on #55
Ok thanks

[2022-02-20 11:39] sermart1234 commented on #53
Copy 99-Huawei.hwdb to /etc/udev/hwdb.d/ then update the hwdb tables
dmesg:
`[  210.011813] SELinux:  Context u:object_r:system_data_file:s0 is not valid (left unmapped).`

[2022-03-06 14:40] krysopath commented on #40
@sermart1234  @aymanbagabas

Still not working is pulseaudios recording device change, when a microphone jack is plugged into the laptop, but

was able to verify smart charge device node working. Thank you all. <3

[2022-03-11 21:46] aymanbagabas commented on #53
Can someone try this patch with the above instructions? Thank you!

[0001-PATCH-ALSA-hda-realtek-New-Huawei-vendor-ID.txt](https://github.com/aymanbagabas/Huawei-WMI/files/8235925/0001-PATCH-ALSA-hda-realtek-New-Huawei-vendor-ID.txt)

[2022-03-11 22:24] canack commented on #53
unfortunately it is not working :( I guess matebook D16 doesn't use realtek driver.
If you wish, I can give you information by running additional commands on the computer I use.

[2022-03-20 13:41] All3xJ opened #58 "Does not compile on kernel >=5.15-rc1"
I downloaded huawei-wmi-3.4-source-only.dkms.tar.gz release and then
[code]
In the logs cat /var/lib/dkms/rtl88x2bu/5.6.1/build/make.log:
[code]

This is due to kernel commit 6c9b40844751 ("net: Remove net/ipx.h and uapi/linux/ipx.h header files"), merged in v5.15-rc1

[2022-04-01 22:16] egormanga commented on #58
Just to clarify: am I right seeing you posting about [`rtl88x2bu`](https://github.com/cilynx/rtl88x2bu) build errors on the `huawei-wmi` repo?

Anyway, let's see (`man dkms`):
[code]

See?

You're supposed to use plain `install` command (or rather not complain about other modules' build failures on a batch build).

P.S. Yes, the comments in the readme [section](https://github.com/aymanbagabas/Huaw

[2022-04-01 23:32] #58 closed

[2022-05-11 14:02] sermart1234 commented on #55
@mpi3d please test
https://github.com/aymanbagabas/Huawei-WMI/pull/64

[2022-05-11 14:08] sermart1234 commented on #40
@krysopath test please
https://github.com/aymanbagabas/Huawei-WMI/pull/64

[2022-05-11 16:10] mpi3d commented on #55
#64 has solved the issue. Closing.
Thanks @sermart1234.

[2022-05-11 16:10] #55 closed

[2022-06-03 16:34] #40 closed

[2022-06-17 21:41] m1khal3v commented on #53
Hello everybody. Any news here? May i help with something?

[2022-08-04 17:13] aymanbagabas commented on #53
Closing this one as it is related to the AMD sound driver. https://bugzilla.kernel.org/show_bug.cgi?id=215119#c1

[2022-08-04 17:13] #53 closed

[2022-08-14 04:52] wachodurango commented on #38
That's an amazing work. I have a MACH-WX9 (2018) if you want me to run some tests or something like that.

[2022-08-21 17:00] Rolo1973 opened #65 "Battery Protection not working"
Hi,

on my Huawei matebook D AMD (Arch KDE) Huawei WMI does not work for battery protection. I have a problem with all the distro I tried those years (Ubuntu, Arch, Manjaro, Debian based and so on) that on ma laptop that is a Huawei Matebook D AMD SoC even if Huawei-WMI driver is included in the kernel (so I can use FN key and OSD for volume ...) the battery protection doesn't work even in theory

[2022-08-21 17:36] egormanga commented on #65
Actually, I've misdirected you; that issue goes to [qu1x/huawei-wmi](https://github.com/qu1x/huawei-wmi). Sorry for that.

[2022-08-21 19:11] Rolo1973 commented on #65
Ahh don't worry Done
Thanks

[2022-08-21 19:16] #65 closed

[2022-08-21 23:38] aymanbagabas commented on #65
I think this is related to the new Smart Battery protection mode introduced in the new models.
CC/ @sermart1234

[2022-08-22 08:03] egormanga commented on #65
Moved to here: https://github.com/qu1x/huawei-wmi/issues/16
(which now also states it's an 2018 model)

[2022-08-30 07:39] skyox opened #66 "HUAWEI Matebook E Fn key gets lowered"
I'm using Arch for a while now on my Convertible HUAWEI Matebook E. Before that, I had Manjaro installed, and I'm having the same issue I had with Manjaro also on Arch. I can only lower my brightness with my keyboard, but I cannot rise it. I went to the KDE System settings and checked my hotkeys, they are set to Monitor Brightness Down and Monitor Brightness Up, so all set correctly.

However, whe

[2022-09-05 23:09] sermart1234 commented on #66
https://github.com/aymanbagabas/Huawei-WMI/issues/19
https://github.com/aymanbagabas/Huawei-WMI/tree/matebook-e

[2022-09-08 07:29] #66 closed

[2022-09-20 09:47] smotim opened #67 "Microphone mute button does not work"
**Describe the bug**
Starting with kernel version 5.19.8-200, the microphone mute button stopped working for me (honor magicbook pro 2020). Adjacent f-buttons work, such as sound control.

**To Reproduce**
Steps to reproduce the behavior:
1. install a system like mine
2. boot with kernel 5.19.8 or 5.19.9
3. Press the f7 button (with Fn off)

**Expected behavior**
Gnome pop-up window with a striket

[2022-09-20 09:53] smotim commented on #67
[code]
An addition to the Additional context. Here is the output in Linux fedora 5.19.7-200

[2022-10-05 14:55] smotim commented on #67
I was able to fix it. Downloaded rpm from Releases. In Gnome Software, you can see that the application is already installed. Then I deleted it, and then installed it again via the downloaded rpm. Now the microphone mute button is working again.

[2022-10-06 11:23] smotim commented on #67
I just noticed that the fix only works until the next kernel update. Then I'll have to repeat it. Is there anything that can be done to make the effect last forever?

[2022-10-09 10:48] smotim commented on #67
`sudo modprobe huawei_wmi`
It seems it can help if you disable Secure Boot before these